@import "variables";

@font-face {
    font-family: 'vicon';
    src:    url('#{$icomoon-font-path}/vicon.eot?blgp84');
    src:    url('#{$icomoon-font-path}/vicon.eot?blgp84#iefix') format('embedded-opentype'),
        url('#{$icomoon-font-path}/vicon.ttf?blgp84') format('truetype'),
        url('#{$icomoon-font-path}/vicon.woff?blgp84') format('woff'),
        url('#{$icomoon-font-path}/vicon.svg?blgp84#vicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="vicon-"], [class*=" vicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'vicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vicon-bell {
    &:before {
        content: $vicon-bell;
    }
}
.vicon-chat {
    &:before {
        content: $vicon-chat;
    }
}
.vicon-circle-percent {
    &:before {
        content: $vicon-circle-percent;
    }
}
.vicon-compare {
    &:before {
        content: $vicon-compare;
    }
}
.vicon-filter {
    &:before {
        content: $vicon-filter;
    }
}
.vicon-folder {
    &:before {
        content: $vicon-folder;
    }
}
.vicon-gift {
    &:before {
        content: $vicon-gift;
    }
}
.vicon-headphone {
    &:before {
        content: $vicon-headphone;
    }
}
.vicon-home {
    &:before {
        content: $vicon-home;
    }
}
.vicon-image-thumbnail {
    &:before {
        content: $vicon-image-thumbnail;
    }
}
.vicon-label {
    &:before {
        content: $vicon-label;
    }
}
.vicon-laptop {
    &:before {
        content: $vicon-laptop;
    }
}
.vicon-list {
    &:before {
        content: $vicon-list;
    }
}
.vicon-list2 {
    &:before {
        content: $vicon-list2;
    }
}
.vicon-list3 {
    &:before {
        content: $vicon-list3;
    }
}
.vicon-magnify {
    &:before {
        content: $vicon-magnify;
    }
}
.vicon-paper-check {
    &:before {
        content: $vicon-paper-check;
    }
}
.vicon-paper-pen {
    &:before {
        content: $vicon-paper-pen;
    }
}
.vicon-people {
    &:before {
        content: $vicon-people;
    }
}
.vicon-phone {
    &:before {
        content: $vicon-phone;
    }
}
.vicon-sim {
    &:before {
        content: $vicon-sim;
    }
}
.vicon-smartphone {
    &:before {
        content: $vicon-smartphone;
    }
}
.vicon-tablet {
    &:before {
        content: $vicon-tablet;
    }
}
.vicon-video-play {
    &:before {
        content: $vicon-video-play;
    }
}
.vicon-vta {
    &:before {
        content: $vicon-vta;
    }
}

