$icomoon-font-path: "fonts" !default;

$vicon-bell: "\e900";
$vicon-chat: "\e901";
$vicon-circle-percent: "\e902";
$vicon-compare: "\e903";
$vicon-filter: "\e904";
$vicon-folder: "\e905";
$vicon-gift: "\e906";
$vicon-headphone: "\e907";
$vicon-home: "\e908";
$vicon-image-thumbnail: "\e909";
$vicon-label: "\e90a";
$vicon-laptop: "\e90b";
$vicon-list: "\e90c";
$vicon-list2: "\e90d";
$vicon-list3: "\e90e";
$vicon-magnify: "\e90f";
$vicon-paper-check: "\e910";
$vicon-paper-pen: "\e911";
$vicon-people: "\e912";
$vicon-phone: "\e913";
$vicon-sim: "\e914";
$vicon-smartphone: "\e915";
$vicon-tablet: "\e916";
$vicon-video-play: "\e917";
$vicon-vta: "\e918";

