{{#extend "default"}}
{{#content "body"}}

<div class="itemFilter">
    <ul class="itemFilter__menu">
        <li name="filters" data-filter="brands">Thương hiệu</li>
        <li name="filters" data-filter="sort"><i class="ti-view-list-alt"></i> Sắp xếp</li>
        <li name="filters" data-filter="filter"><i class="ti-filter"></i> Lọc</li>

    </ul>

    <div class="itemFilter__form">

        <div id="brands" class="hideBlock">
            <ul class="itemFilter__list">
                <li class="active">
                    <a href="">Tất cả</a>
                </li>
                <li>
                    <a href="">Apple (iPhone)</a>
                </li>
                <li>
                    <a href="">Sony</a>
                </li>
                <li>
                    <a href="">Samsung</a>
                </li>
                <li>
                    <a href="">HTC</a>
                </li>
                <li>
                    <a href="">Nokia</a>
                </li>
                <li>
                    <a href="">LG</a>
                </li>
                <li>
                    <a href="">Lenovo</a>
                </li>
                <li>
                    <a href="">Blackberry</a>
                </li>
                <li>
                    <a href="">FPT</a>
                </li>
                <li>
                    <a href="">Gionee</a>
                </li>
                <li>
                    <a href="">Mobell</a>
                </li>
                <li>
                    <a href="">Q-Mobile</a>
                </li>
                <li>
                    <a href="">Philips</a>
                </li>

                <li>
                    <a href="">Obi</a>
                </li>
                <li>
                    <a href="">Wiko</a>
                </li>
                <li>
                    <a href="">Huawei</a>
                </li>
                <li>
                    <a href="">Vivo</a>
                </li>

            </ul>
        </div>

        <div id="filter" class="hideBlock">
           <div class="itemFilter__checkbox">

               <div class="itemFilter__checkbox--col">
                   <ul class="clearlist">
                       <li>
                           <div class="title">Mức giá</div>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange1"><label for="priceRange1">Tất cả</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange2"><label for="priceRange2">Dưới 1 triệu</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange3"><label for="priceRange3">Từ 1 - 3 triệu</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange4"><label for="priceRange4">Từ 3 - 7 triệu</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange5"><label for="priceRange5">Từ 7 - 10 triệu</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange6"><label for="priceRange6">Từ 10 - 15 triệu</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="priceRange7"><label for="priceRange7">Trên 15 triệu</label>
                       </li>
                   </ul>

                   <ul class="clearlist">

                       <li>
                           <div class="title">Màn hình</div>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="displayRange1"><label for="displayRange1">Dưới 3"</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="displayRange2"><label for="displayRange2">Khoảng 4"</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="displayRange3"><label for="displayRange3">Khoảng 5"</label>
                       </li>
                       <li>
                           <input type="radio" name="priceRange" value="" id="displayRange4"><label for="displayRange4">Khoảng 6"</label>
                       </li>

                   </ul>



               </div>

               <div class="itemFilter__checkbox--col">
                   <ul class="clearlist">

                       <li>
                           <div class="title">Hệ điều hành</div>
                       </li>
                       <li>
                           <input type="radio" name="osRange" value="" id="os1"><label for="os1">Tất cả hệ điều hành</label>
                       </li>
                       <li>
                           <input type="radio" name="osRange" value="" id="os2"><label for="os2">iOS (iPhone)</label>
                       </li>
                       <li>
                           <input type="radio" name="osRange" value="" id="os3"><label for="os3">Android</label>
                       </li>
                       <li>
                           <input type="radio" name="osRange" value="" id="os4"><label for="os4">Windows Phone</label>
                       </li>

                   </ul>
               </div>


           </div>
        </div>

        <div id="sort" class="hideBlock">



                <ul class="itemFilter__list">

                    <li>
                        <a href="">Giá tăng dần</a>
                    </li>
                    <li>
                        <a href="">Giá giảm dần</a>
                    </li>

                </ul>


        </div>

    </div>
</div>


<div class="categoryList">

    <div class="item feature">
        <a href="product.html" class="item__link"></a>
        <div class="item__feature">
            <div class="item__image">
                <img src="https://cdn1.vienthonga.vn/image/2015/11/1/300_iphone-6s-plus-3.jpg" alt="" width="">
            </div>

            <div class="item__feature-info">
                <div class="item__name">
                    iPhone 5S 16GB Gold
                </div>

                <div class="item__price">
                    <span class="item__price--new">8,790,000đ   </span>
                    <span class="item__price--old">8,990,000đ </span>
                </div>

                <ul class="item__list">
                    <li>Mua online: <span>Giảm 200,000đ</span></li>
                    <li>Trả góp chỉ từ: <span>577,000đ</span></li>
                </ul>

                <div class="item__text--sale">

                    <span style="font-weight:bold;">Khuyến mãi tháng 5</span><br>Áp dụng đến 31/5/2016 <br>- Giảm 50% gói
                    gia hạn bảo hành<br>- Giảm 50% gói bảo hiểm <br>- <a
                        href="https://vienthonga.vn/the-cao-sim-so#simlocphat">Sim lộc phát chỉ với 80.000đ</a><br>
                    - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                    Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;+
                    Khuyến mãi 3GB đến 6GB data 3G mỗi tháng x 12 tháng<br>&nbsp;&nbsp;+ Khuyến mãi (300 phút gọi không
                    giới hạn trên 1 cuộc gọi + 150 tin nhắn) mỗi tháng x 12 tháng <br> <strong> Xem chi tiết <a
                        href="/khuyen-mai-thang-5-2016.html">tại đây</a></strong>

                </div>
            </div>

        </div>


    </div>


    {{#each listItem}}
    <div class="item">
        <a href="{{ this.link }}" class="item__link"></a>

        <div class="item__image">
            <img src="{{ this.image }}" alt="">
        </div>

        <div class="item__name">
            {{ this.name }}
        </div>

        <div class="item__price">
            <span class="item__price--new">{{ this.price.new }}đ   </span>
            <span class="item__price--old">{{ this.price.old }}đ </span>
        </div>

        <ul class="item__list">
            <li>Mua online: <span>Giảm 200,000đ</span></li>
            <li>Trả góp chỉ từ: <span>577,000đ</span></li>
        </ul>

    </div>
    {{/each}}




</div>


<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>



{{/content}}
{{/extend}}
