{{#extend "default"}}
{{#content "body"}}


<div class="des-accordion">

    <ul class="accordion bottom" >
        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahang">Hướng dẫn mua hàng</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuatragop">Hướng dẫn mua trả góp</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahangsv">Hướng dẫn mua hàng SV</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="chinhsachgiaohang">Chính sách giao hàng</a>
        </li>


        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="quychehoatdong">Quy chế hoạt động</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="chinhsachbaomatthongtin">Chính sách bảo mật thông tin</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="hoadondientu">Hóa đơn điện tử</a>
        </li>

    </ul>

</div>




{{/content}}






{{/extend}}


