{{#extend "default"}}
{{#content "body"}}


<div class="des-accordion">

    <ul class="accordion bottom" >
        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahang">Hướng dẫn mua hàng</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahang">Hướng dẫn mua trả góp</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahang">Hướng dẫn mua hàng SV</a>
        </li>

        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger normal" data-popover="huongdanmuahang">Chính sách giao hàng</a>
        </li>

    </ul>



</div>




{{/content}}






{{/extend}}


