{{#extend "default"}}
{{#content "body"}}

{{> main-slider}}

{{> menu-feature}}

{{> deal-homepage}}

<div class="adv1">
    <a href=""><img src="https://cdn1.vienthonga.vn/image/2016/7/5/375_banner-app-shock-banh-noc-800x150px.jpg" data-src="https://cdn1.vienthonga.vn/image/2016/7/3/100000_mobile-adv1.png" class="lazyload w-100" alt=""></a>
</div>

<h2 class="section-title">
    <a href="">SĂN THƯỞNG</a>
</h2>
{{> santhuong-homepage}}

<h2 class="section-title">
    <a href="">ĐIỆN THOẠI</a>
</h2>

<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

            <div class="item__image">

               
                <div class="embed-responsive embed-responsive-100">
                     <div class="embed-responsive-item">
<img alt=""  data-src="{{ this.image }}" class="lazyload" />
                    </div>
                </div>


            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<div class="adv2">
    <a href=""><img src="https://cdn1.vienthonga.vn/image/2016/7/5/188_400-300-app.jpg" data-src="https://cdn1.vienthonga.vn/image/2016/7/3/100000_mobile-adv3-1.png" class="w-100 lazyload" alt=""></a>
    <a href=""><img src="https://cdn1.vienthonga.vn/image/2016/7/5/188_400-300-app1.jpg" data-src="https://cdn1.vienthonga.vn/image/2016/7/3/100000_mobile-adv2-1.png" class="w-100 lazyload" alt=""></a>
</div>



<h2 class="section-title">
    <a href="">MÁY TÍNH BẢNG</a>
</h2>
<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

         <div class="item__image">

               
                <div class="embed-responsive embed-responsive-100">
                     <div class="embed-responsive-item">
<img alt="" data-src="{{ this.image }}" class="lazyload" />
                    </div>
                </div>


            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}

</div>

<h2 class="section-title">
    <a href="">MÁY TÍNH XÁCH TAY</a>
</h2>

<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

          <div class="item__image">

               
                <div class="embed-responsive embed-responsive-100">
                     <div class="embed-responsive-item">
<img alt="" data-src="{{ this.image }}" class="lazyload" />
                    </div>
                </div>


            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}

</div>

<h2 class="section-title">
    <a href="">LINH PHỤ KIỆN</a>
</h2>

<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

           <div class="item__image">

               
                <div class="embed-responsive embed-responsive-100">
                     <div class="embed-responsive-item">
<img alt="" data-src="{{ this.image }}" class="lazyload" />
                    </div>
                </div>


            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}

</div>

{{/content}}
{{/extend}}
