{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
    <a href="">TIN KHUYẾN MÃI</a>
</h2>



<div class="sale-filter">
    <div class="choose">
        <select>
            <option value="">Tìm theo</option>
            <option value="">Starbuck</option>
            <option value="">Hot Dog</option>
            <option value="">Apollo</option>
        </select>
    </div>
    <div class="filter new"><a href="#" class="link-gray" >Mới nhất</a></div>
    <div class="filter old"><a href="#" class="link-gray">Cũ nhất</a></div>

</div>

<div class="sale-list">
    <figure class="sale-item">
        <img src="assets/img/slider/slider1.jpg" alt="">
        <figcaption>
            <div class="date">Từ ngày 01/04 - 30/04/2016</div>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider2.jpg" alt="">
        <figcaption>
            <div class="date">Từ ngày 01/04 - 30/04/2016</div>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider3.jpg" alt="">
        <figcaption>
            <div class="date">Từ ngày 01/04 - 30/04/2016</div>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

</div>


<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>


{{/content}}
{{/extend}}
