{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
    <a href="">TIN KHUYẾN MÃI</a>
</h2>



<div class="sale-filter">
    <div class="choose">
        <select>
            <option value="">Tìm theo</option>
            <option value="">Starbuck</option>
            <option value="">Hot Dog</option>
            <option value="">Apollo</option>
        </select>
    </div>
    <div class="filter new"><a href="#" >Mới nhất</a></div>
    <div class="filter old"><a href="#">Cũ nhất</a></div>

</div>


<div class="sale-detail">
    <h4 class="title">Mua linh phụ kiện giá sốc chưa từng có</h4>
    <img src="assets/img/slider/slider1.jpg" alt="">

</div>

<div class="product__info">

    <div class="row">
        <div class="small-12 columns">

            <input type="checkbox" id="load_more" role="button">

            <div class="product__sale">
                <p><span style="font-weight:bold;">Khuyến mãi tháng 5</span><br>Áp dụng đến 31/5/2016 <br>- Giảm 50% gói
                    gia hạn bảo hành<br>- Giảm 50% gói bảo hiểm <br>- <a
                            href="https://vienthonga.vn/the-cao-sim-so#simlocphat">Sim lộc phát chỉ với 80.000đ</a><br>
                    - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                        Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;+
                    Khuyến mãi 3GB đến 6GB data 3G mỗi tháng x 12 tháng<br>&nbsp;&nbsp;+ Khuyến mãi (300 phút gọi không
                    giới hạn trên 1 cuộc gọi + 150 tin nhắn) mỗi tháng x 12 tháng <br> <strong> Xem chi tiết <a
                            href="/khuyen-mai-thang-5-2016.html">tại đây</a></strong><br></p>

            </div>

            <label for="load_more" onclick=""><span>Xem chi tiết <i
                    class="ti-angle-down"></i></span><span>Ẩn chi tiết <i class="ti-angle-up"></i></span></label>

        </div>
    </div>

</div>


<h2 class="section-title">
    <a href="">PHỤ KIỆN MUA KÈM</a>
</h2>

<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

            <div class="item__image">
                <img src="{{ this.image }}" alt="">
            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<h2 class="section-title transparent">
    <a href="">BÌNH LUẬN</a>
</h2>

<div class="comments-form">
    <div class="comment">
        <div class="comment-figure" style=""> V
        </div>

        <div class="comment-body">
            <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
            <input type="text" placeholder="Tên của bạn">
            <input type="Email" placeholder="Email">
            <div class="comment-captcha">
            <img src="assets/img/product/recaptcha.png" alt="">
            </div>
            <div class="text-right">
                <a class="button alert" href="#">Gửi bình luận</a>
            </div>


        </div>
    </div>
</div>

<div class="comments-sort">
        <select class="">
            <option value="">Mới nhất</option>
            <option value="">Top thảo luận</option>
        </select>
</div>

<div class="comments">
    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h5 class="comment-name">Nguyễn Việt Hùng</h5>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Ad cùng tất cả các bạn đọc được tin nhắn này cho mình hỏi. IP 6s khi ko sử dụng, tắt hết ứng dụng chạy ngầm, tắt wifi, để qua đêm (8 tiếng) thì tốn pin nhiều ko, khoảng bao nhiêu. Xin cám ơn trước ạ !!!</div>

            <div class="comment-meta">
                <a href=""><i class="ti-back-right"></i> Trả lời</a>
                <a href=""><i class="ti-thumb-up"></i> Thích</a>
            </div>

            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h5 class="comment-name admin">Viễn Thông A - Quản Trị Viên Roger Federer</h5>
                    <div class="comment-date"><span class="round alert label">ADMIN</span> 4 phút trước </div>
                    <div class="comment-content">Chào bạn!
                        Như thông tin bạn chia sẽ và tắt luôn màn hình thì sản phẩm sẽ tụt khoảng 1 - 3% pin, tùy thuộc vào nhiệt độ phòng hay vị trí bạn để sản phẩm trên các thiết bị truyền nhiệt,
                        Thân chào bạn!</div>

                    <div class="comment-meta">
                        <a href=""><i class="ti-back-right"></i> Trả lời</a>
                        <a href=""><i class="ti-thumb-up"></i> Thích</a>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h5 class="comment-name">Roger Federer</h5>
                    <div class="comment-date">15 phút trước</div>
                    <div class="comment-content">Chào bạn!
                        Như thông tin bạn chia sẽ và tắt luôn màn hình thì sản phẩm sẽ tụt khoảng 1 - 3% pin, tùy thuộc vào nhiệt độ phòng hay vị trí bạn để sản phẩm trên các thiết bị truyền nhiệt,
                        Thân chào bạn!</div>

                    <div class="comment-meta">
                        <a href=""><i class="ti-back-right"></i> Trả lời</a>
                        <a href=""><i class="ti-thumb-up"></i> Thích</a>
                    </div>
                </div>
            </div>

            <div class="comment-loadmore"><a href=""><i class="ti-comments"></i> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>


        </div>
    </div>

    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h5 class="comment-name">Nguyễn Việt Hùng</h5>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Ad cùng tất cả các bạn đọc được tin nhắn này cho mình hỏi. IP 6s khi ko sử dụng, tắt hết ứng dụng chạy ngầm, tắt wifi, để qua đêm (8 tiếng) thì tốn pin nhiều ko, khoảng bao nhiêu. Xin cám ơn trước ạ !!!</div>

            <div class="comment-meta">
                <a href=""><i class="ti-back-right"></i> Trả lời</a>
                <a href=""><i class="ti-thumb-up"></i> Thích</a>
            </div>


        </div>
    </div>

    <div class="comment-loadmore"><a href=""><i class="ti-comments"></i> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>



</div>
{{/content}}
{{/extend}}
