{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
    <a href="">MUA TRẢ GÓP</a>
</h2>

{{> muatragop-menu}}


<div class="sale-list">
    <figure class="sale-item">
        <img src="assets/img/slider/slider1.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider2.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider3.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

</div>


<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>


{{/content}}
{{/extend}}
