{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
    <a href="">MUA TRẢ GÓP</a>
</h2>

<div class="des-accordion">

    <ul class="accordion">
        <li class="accordion-item is-active">
            <a href="#" class="accordion-title down"><i class="ti-panel"></i>
                Thủ tục - quy trình</a>

        </li>

        <li class="accordion-item ">
            <a href="#" class="accordion-title down"><i class="ti-image "></i>
                Đăng ký mua trả góp</a>
            <div class="" data-tab-content>
            </div>
        </li>


        <li class="accordion-item ">
            <a href="#" class="accordion-title down"><i
                    class="ti-video-camera "></i> Khuyến mãi trả góp</a>

        </li>

    </ul>

</div>


<ul class="moveStep" data-tabs id="thutuc-quytrinh">
    <li class="tabs-title is-active"><a href="#thutuctragop" aria-selected="true">Thủ tục <br> trả góp</a></li>
    <li class="tabs-title"><a href="#quytrinhtragop">Quy trình <br> trả góp</a></li>
</ul>


<div class="tabs-content" data-tabs-content="thutuc-quytrinh">
    <div class="tabs-panel is-active no-padding" id="thutuctragop">

        <h3 class="moveStep__title">
            <span>1. Thủ tục trả góp</span>
        </h3>


        <div class="thutucTragop">
            <div class="row">
                <div class="small-3">
                    <img src="https://vienthonga.vn/Content/images/tragop/home-credit-logo.jpg" alt="">
                </div>

                <div class="small-8 small-offset-1">
                    - Điều kiện: <span class="color-primary"> Tuổi 18 - 60 </span> <br>
                    - Thủ tục cần chuẩn bị <br>
                    <span class="color-gray">+ CMND</span>
                    <span class="color-gray">+ Hộ khẩu (có thể thay bằng lái xe <br>
                    nếu khoản vay dưới 10 triệu)</span> <br>
                    - Giá trị sản phẩm: <span class="color-primary">>= 1.25 triệu </span><br>
                    - Trả trước: <span class="color-primary">20% </span><br>
                    - Thời gian duyệt hồ sơ: <span class="color-primary">15-30 phút </span><br>
                </div>
            </div>
        </div>
        <div class="thutucTragop">
            <div class="row">
                <div class="small-3">
                    <img src="https://vienthonga.vn/Content/images/tragop/hdf-logo.png" alt="">
                </div>

                <div class="small-8 small-offset-1">
                    - Điều kiện: <span class="color-primary"> Tuổi 18 - 60 </span> <br>
                    - Thủ tục cần chuẩn bị <br>
                    <span class="color-gray">+ CMND</span>
                    <span class="color-gray">+ Hộ khẩu (có thể thay bằng lái xe <br>
                    nếu khoản vay dưới 10 triệu)</span> <br>
                    - Giá trị sản phẩm: <span class="color-primary">>= 1.25 triệu </span><br>
                    - Trả trước: <span class="color-primary">20% </span><br>
                    - Thời gian duyệt hồ sơ: <span class="color-primary">15-30 phút </span><br>
                </div>
            </div>
        </div>

        <div class="thutucTragop">

            <div class="row">
                <div class="small-3">
                    <img src="https://vienthonga.vn/Content/images/tragop/acs-logo.jpg" alt="">
                </div>

                <div class="small-8 small-offset-1">
                    - Điều kiện: <span class="color-primary"> Tuổi 18 - 60 </span> <br>
                    - Thủ tục cần chuẩn bị <br>
                    <span class="color-gray">+ CMND</span>
                    <span class="color-gray">+ Hộ khẩu (có thể thay bằng lái xe <br>
                    nếu khoản vay dưới 10 triệu)</span> <br>
                    - Giá trị sản phẩm: <span class="color-primary">>= 1.25 triệu </span><br>
                    - Trả trước: <span class="color-primary">20% </span><br>
                    - Thời gian duyệt hồ sơ: <span class="color-primary">15-30 phút </span><br>
                </div>
            </div>
        </div>

    </div>
    <div class="tabs-panel no-padding" id="quytrinhtragop">

        <h3 class="moveStep__title">
            <span>2. Quy trình trả góp</span>
        </h3>

    </div>
</div>


<div class="sale-list">
    <figure class="sale-item">
        <img src="assets/img/slider/slider1.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider2.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider3.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

</div>


<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>


{{/content}}
{{/extend}}
