{{#extend "default"}} {{#content "body"}} {{> muatragop-menu}}

<div class="product__info">
    <div class="row align-middle">
        <div class="small-4 columns">
            <div class="product__image">
                <img src="assets/img/product/product1.jpg">
            </div>
        </div>
        <div class="small-8 columns">
            <h3 class="product__name">Iphone 6s 16Gb (IP-J710F)</h3>
            <div class="product__price">
                <span class="product__price--new">13,890,000đ</span>
            </div>
            <div class="product__km">
                <input type="checkbox" id="load_more" role="button">

                <div class="product__sale">
                    <p>
                        - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                        Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;+ Khuyến mãi 3GB đến 6GB data 3G mỗi tháng x 12 tháng<br>&nbsp;&nbsp;+ Khuyến mãi (300 phút gọi không giới hạn trên 1 cuộc gọi
                        + 150 tin nhắn) mỗi tháng x 12 tháng

                </div>

                <label for="load_more" onclick=""><span>Xem khuyến mãi <i
                        class="ti-angle-down"></i></span><span>Ẩn khuyến mãi <i class="ti-angle-up"></i></span></label>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="small-12 columns">
            <h4>Vui lòng cung cấp thêm thông tin (để xét duyệt trả góp)
            </h4>

            <p class="text-gray">Giấy tờ bạn phải có : </p>
            <div class="form-line label-inline">
                <input type="radio" name="giayTo" value="" id="giayTo1"><label for="giayTo1">CMND + Hộ khẩu hoặc Bằng lái (Duyệt nhanh, lãi suất cao)</label>
            </div>

            <div class="form-line label-inline">
                <input type="radio" name="giayTo" value="" id="giayTo2"><label for="giayTo2">CMND + Hộ khẩu + Hóa đơn điện nước (Lãi suất thấp)</label>
            </div>

            <p class="text-gray">Lưu ý: - Số tiền dưới đây chỉ mang tính tham khảo <br> - Bạn sẽ được tư vấn thêm sau khi đặt hàng thành công.</p>
        </div>

    </div>

</div>

<ul class="moveStep" id="tragop-progress">
    <li class="active">Chọn đơn vị <br> trả góp</li>
    <li class="">Thông tin <br> khách hàng</li>
    <li class="">Phương thức <br> nhận hàng</li>
</ul>


<div id="tragop-step-1" class="tragop-step">
    <h3 class="moveStep__title">
        <span>1. Chọn đơn vị trả góp</span>
    </h3>

    <div class="gutter">
        <div class="radio form-line">
            <label>
                <input type="radio" name="donVi" value=""><img src="https://vienthonga.vn/Content/images/tragop/home-credit-logo.jpg" alt="" width="100">
            </label>
        </div>

        <div class="radio form-line">
            <label>
                <input type="radio" name="donVi" value=""><img src="https://vienthonga.vn/Content/images/tragop/hdf-logo.png" alt="" width="100">
            </label>
        </div>

        <div class="radio form-line">
            <label>
                <input type="radio" name="donVi" value=""><img src="https://vienthonga.vn/Content/images/tragop/acs-logo.jpg" alt="" width="100">
            </label>
        </div>

    </div>

    <div class=" form-border bottom-grey">
        <div class="row align-middle">
            <div class="small-6 columns">
                <div class="form-space">Hình thức</div>
            </div>
            <div class="small-6 columns">
                <select class="">
                    <option value="">Có lãi suất</option>
                </select>
            </div>

            <div class="small-6 columns">
                <div class="form-space">Trả trước</div>
            </div>
            <div class="small-6 columns">
                <select class="">
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="60">60%</option>
                    <option value="70">70%</option>
                </select>
            </div>

            <div class="small-6 columns">
                <div class="form-space">Thời hạn vay</div>
            </div>
            <div class="small-6 columns">
                <select class="">
                    <option value="">3 tháng</option>
                    <option value="">6 tháng</option>
                    <option value="">12 tháng</option>
                </select>
            </div>

            <div class="small-6 columns">
                <div class="form-space">Khách hàng trả trước</div>
            </div>
            <div class="small-6 columns">
                4,350,000 đ
            </div>

            <div class="small-6 columns">
                <div class="form-space">Số tiền trả góp</div>
            </div>
            <div class="small-6 columns">
                3,350,000 đ
            </div>

            <div class="small-6 columns">
                <div class="form-space">Tổng góp trả trước</div>
            </div>
            <div class="small-6 columns">
                <span class="color-orange">7,810,000 đ</span>
            </div>

        </div>
    </div>

    <div class="row ">
        <div class="small-6 columns">
        </div>
        <div class="small-6 columns text-right">
            <a href="" class="button alert tragop-next">Tiếp tục <i class="ti-angle-right"></i></a>
        </div>
    </div>

</div>


<div id="tragop-step-2" class="tragop-step hideBlock">
    <h3 class="moveStep__title">
        <span>2. Thông tin khách hàng</span>
    </h3>

    <div class="formDathang__content">

        <div class="form-line">


            <label class="radio-inline">
                <input type="radio" value="" checked="" name="chooseSex">Anh
            </label>

            <label class="radio-inline">
                <input type="radio" value="" name="chooseSex">Chị
            </label>


        </div>

        <div class="form-line row align-middle">
                <div class="small-4">Họ tên <span class="color-red">(*)</span></div>
                <div class="small-8"><input type="text" placeholder="Họ và tên"></div>
        </div>

        <div class="form-line row align-middle">
            <div class="small-4">Ngày sinh <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder="Họ và tên"></div>
        </div>
        <div class="form-line row align-middle">
            <div class="small-4">Điện thoại <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder=""></div>
        </div>
        <div class="form-line row align-middle">
            <div class="small-4">Email <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="email" placeholder="Địa chỉ email"></div>
        </div>
        <div class="form-line row align-middle">
            <div class="small-4">Số CMND <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder=""></div>
        </div>

        <div class="form-line row align-middle">
            <div class="small-4">Nghề nghiệp <span class="color-red">(*)</span></div>
            <div class="small-8">
                <select name="" id="">
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                </select>
            </div>
        </div>

        <div class="form-line row align-middle">
            <div class="small-4">Địa chỉ <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder=""></div>
        </div>
        <div class="form-line row align-middle">
            <div class="small-4">Nơi ở <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder=""></div>
        </div>
        <div class="form-line row align-middle">
            <div class="small-4">Hộ khẩu <span class="color-red">(*)</span></div>
            <div class="small-8"><input type="text" placeholder=""></div>
        </div>

    </div>



    <div class="row ">
        <div class="small-6 columns">
            <a href="" class="button button-gray tragop-prev"><i class="ti-angle-left"></i> Quay lại</a>
        </div>
        <div class="small-6 columns text-right">
            <a href="" class="button alert tragop-next">Tiếp tục <i class="ti-angle-right"></i></a>
        </div>
    </div>

</div>

<div id="tragop-step-3" class="tragop-step hideBlock">
    <h3 class="moveStep__title">
        <span>3. Phương thức nhận hàng</span>
    </h3>



    <div class="formDathang__content">
        <h4>Vui lòng chọn siêu thị bên dưới để nhận hàng</h4>

        <div class="form-line row align-middle">
            <div class="small-4">Thành phố <span class="color-red">(*)</span></div>
            <div class="small-8">
                <select name="" id="">
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                </select>
            </div>
        </div>

        <div class="form-line row align-middle">
            <div class="small-4">Quận huyện <span class="color-red">(*)</span></div>
            <div class="small-8">
                <select name="" id="">
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                    <option value="">IT</option>
                </select>
            </div>
        </div>

        <div class="form-line row align-middle">
            <div class="small-4">Chi nhánh <span class="color-red">(*)</span></div>
            <div class="small-8">
                <select multiple>
                    <option value="showboat">Showboat</option>
                    <option value="redwing">Redwing</option>
                    <option value="narcho">Narcho</option>
                    <option value="hardball">Hardball</option>
                </select>
            </div>
        </div>


    </div>

    <div class="row ">
        <div class="small-6 columns">
            <a href="" class="button button-gray tragop-prev"><i class="ti-angle-left"></i> Quay lại</a>
        </div>
        <div class="small-6 columns text-right">
            <a href="" class="button alert">Hoàn tất đăng ký</a>
        </div>
    </div>

</div>




{{/content}} {{/extend}}