{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
    <a href="">MUA TRẢ GÓP</a>
</h2>

<div class="des-accordion">

    <ul class="accordion">
        <li class="accordion-item is-active">
            <a href="#" class="accordion-title down"><i class="ti-panel"></i>
                Thủ tục - quy trình</a>

        </li>

        <li class="accordion-item ">
            <a href="#" class="accordion-title down"><i class="ti-image "></i>
                Đăng ký mua trả góp</a>
            <div class="" data-tab-content>
            </div>
        </li>


        <li class="accordion-item ">
            <a href="#" class="accordion-title down"><i
                    class="ti-video-camera "></i> Khuyến mãi trả góp</a>

        </li>

    </ul>

</div>


<div class="sale-list">
    <figure class="sale-item">
        <img src="assets/img/slider/slider1.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider2.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

    <figure class="sale-item">
        <img src="assets/img/slider/slider3.jpg" alt="">
        <figcaption>
            <h4>Mua linh phụ kiện giá sốc chưa từng có</h4>
        </figcaption>

        <a href="khuyenmai-chitiet.html" class="a-absolute"></a>
    </figure>

</div>


<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>


{{/content}}
{{/extend}}
