{{#extend "default"}}
{{#content "body"}}

<div class="productSlider">
    <div class="swiper-container">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <img src="assets/img/product/product1.jpg">
            </div>
            <div class="swiper-slide">
                <img src="assets/img/product/product2.jpg">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/product/product3.jpg">
            </div>

            <div class="swiper-slide">
                <img src="assets/img/product/product4.jpg">
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

</div>

<div class="product__info">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="product__name">Iphone 6s 16Gb (IP-J710F)</h1>
            <div class="product__price">
                <span class="product__price--new">13,890,000đ</span>
                <span class="product__price--old">15,890,000đ</span>
            </div>


            <div class="product__color">
                <div>Có 3 màu : &nbsp; </div>
                <div><span class="color choose" style="background-color: #4a4a4a;"></span></div>
                <div><span class="color" style="background-color: #d9d689;"></span></div>
                <div><span class="color" style="background-color: #df907f;"></span></div>
            </div>
        </div>
    </div>


    <div class="productCombo">

        <div class="productCombo__title">
            <h3 class="productCombo__name">GÓI COMBO GOLD</h3>
            <div class="productCombo__price">19,250,000đ <span class="tietkiem">Tiết kiệm: 248,000đ - 7.948.00đ</span></div>
        </div>

        <div class="productCombo__type">
            <div>Hình thức thanh toán  &nbsp;
                <label class="radio-inline"><input type="radio" name="hinhthucthanhtoan" > Tiền mặt</label>
                <label class="radio-inline"><input type="radio" name="hinhthucthanhtoan" > Trả góp</label>
            </div>
        </div>

        <div class="productCombo__list">
            <ul class="list-inside">
                <li>phone 6s 16GB Rose Gold </li>
                <li>Vòng quay 300,000đ - 8,000,000đ </li>
                <li>1 gậy chụp hình </li>
                <li>1 sạc dự phòng 5000mAh </li>
                <li>2 Ốp lưng thời  trang</li>

            </ul>
        </div>




    </div>


    <h2 class="product__title">CHỈ CÓ TẠI VIỄN THÔNG A</h2>

    <div class="row">
        <div class="small-12 columns">
            <div class="product__onlyvta">

                    <div class="radio">
                        <label>
                            <input type="radio" name="pokemon" value="Red" >Gia hạn bảo hành : <span class="color-orange">350,000đ</span>
                        </label>
                    </div>

                    <div class="radio">
                        <label>
                            <input type="radio" name="pokemon" value="Red" >Bảo vệ toàn diện : <span class="color-orange">200,000đ</span>
                        </label>
                    </div>

            </div>
        </div>
    </div>
    <h2 class="product__title km">KHUYẾN MÃI</h2>

    <div class="row">
        <div class="small-12 columns">

            <input type="checkbox" id="load_more" role="button">

            <div class="product__sale">
                <p><span style="font-weight:bold;">Khuyến mãi tháng 5</span><br>Áp dụng đến 31/5/2016 <br>- Giảm 50% gói
                    gia hạn bảo hành<br>- Giảm 50% gói bảo hiểm <br>- <a
                            href="https://vienthonga.vn/the-cao-sim-so#simlocphat">Sim lộc phát chỉ với 80.000đ</a><br>
                    - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                        Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;+
                    Khuyến mãi 3GB đến 6GB data 3G mỗi tháng x 12 tháng<br>&nbsp;&nbsp;+ Khuyến mãi (300 phút gọi không
                    giới hạn trên 1 cuộc gọi + 150 tin nhắn) mỗi tháng x 12 tháng <br> <strong> Xem chi tiết <a
                            href="/khuyen-mai-thang-5-2016.html">tại đây</a></strong><br></p>

            </div>

            <label for="load_more" onclick=""><span>Xem chi tiết <i
                    class="ti-angle-down"></i></span><span>Ẩn chi tiết <i class="ti-angle-up"></i></span></label>

        </div>
    </div>

</div>

<div class="product__button">
    <div class="row">
        <div class="small-12 columns">
            <a href="thanhtoan2.html" class="button alert expanded large">MUA ONLINE <span>Giảm thêm 1,200,000đồng</span></a>
            <a href="" class="button-gray button expanded large">ĐẶT GIỮ HÀNG <span>Tại siêu thị</span></a>
            <a href="muatragop-dangky.html" class="button-gray button expanded large">MUA TRẢ GÓP <span>Chỉ từ 1,000,000đồng</span></a>
            <div class="product__button--call"><i class="ti-mobile"></i> Gọi mua nhanh <a href="callto:1900 54 54 46"
                                                                                          class="a-color-red">1900 54 54
                46</a>
                <br> nhấn phím 1 <span class="time">(8h đến 21h30)</span></div>
        </div>
    </div>
</div>


<div class="des-accordion">

    <ul class="accordion bottom" data-accordion data-multi-expand="true" data-allow-all-closed="true">
        <li class="accordion-item">
            <a href="#" class="accordion-title popover-trigger" data-popover="popover-thongso"><i class="ti-panel"></i>
                Thông số</a>

        </li>

        <li class="accordion-item ">
            <a href="#" class="accordion-title popover-trigger" data-popover="popover-hinhanh"><i class="ti-image "></i>
                Hình ảnh</a>
            <div class="" data-tab-content>
            </div>
        </li>


        <li class="accordion-item " >
            <a href="#" class="accordion-title popover-trigger" data-popover="popover-video"><i
                    class="ti-video-camera "></i> Video</a>

        </li>


        <li class="accordion-item ">
            <a href="#" class="accordion-title"><i class="ti-face-smile"></i> Đánh giá</a>

        </li>


        <ul class="accordion" data-accordion data-multi-expand="true" data-allow-all-closed="true">

            <li class="accordion-item" data-accordion-item >
                <a href="#" class="accordion-title"><i class="ti-control-shuffle"></i> So sánh</a>


                <div class="accordion-content no-padding" data-tab-content style="border: none">

                    <h4 class="sosanh__title">iPhone SE 16GB Rose Gold với sản phẩm khác</h4>


                    <div class="categoryList">

                        <div class="item item-sosanh">

                            <div class="item__image">
                                <img src="assets/img/product/item-1.jpg" alt="">
                            </div>

                            <div class="item__name">
                                iPhone 5S 16GB Gold
                            </div>

                            <div class="item__price">
                                <span class="item__price--new">8,790,000đ   </span>
                            </div>

                            <a href="" class="button primary button-round">So sánh ngay</a>

                        </div>
                        <div class="item item-sosanh">

                            <div class="item__image">
                                <img src="assets/img/product/item-1.jpg" alt="">
                            </div>

                            <div class="item__name">
                                Samsung Galaxy J7 (SM-J710F)
                            </div>

                            <div class="item__price">
                                <span class="item__price--new">28,790,000đ   </span>
                            </div>

                            <a href="" class="button primary button-round">So sánh ngay</a>

                        </div>
                        <div class="item item-sosanh">

                            <div class="item__image">
                                <img src="assets/img/product/item-1.jpg" alt="">
                            </div>

                            <div class="item__name">
                                Sony Xperia Z5 Premium Dual
                            </div>

                            <div class="item__price">
                                <span class="item__price--new">8,790,000đ   </span>
                            </div>

                            <a href="" class="button primary button-round">So sánh ngay</a>

                        </div>

                        <div class="item item-sosanh item-sosanh-input">


                            <div class="icon">+</div>

                            <div class="formSearch">

                                <input type="text" placeholder="Nhập tên điện thoại">

                                <ul class="formSearch__list box-shadow">
                                    <li><a href="">Xiaomi Mi 4 Roger Federer</a></li>
                                    <li><a href="">Xiaomi Mi Note 3</a></li>
                                    <li><a href="">Xiaomi Mi 5</a></li>
                                    <li><a href="">Mi band 2</a></li>
                                </ul>

                            </div>



                        </div>

                    </div>



                </div>

            </li>

        </ul>





    </ul>



</div>


<h2 class="section-title">
    <a href="">PHỤ KIỆN MUA KÈM</a>
</h2>

<div class="scrolls-horizontal section-space">
    {{#each listItem}}
    <div class="item-horizontal">
        <div class="item">
            <a href="{{ this.link }}" class="item__link"></a>

            <div class="item__image">
                <img src="{{ this.image }}" alt="">
            </div>

            <div class="item__name">
                {{ this.name }}
            </div>

            <div class="item__price">
                <span class="item__price--new">{{ this.price.new }}đ   </span>
                <span class="item__price--old">{{ this.price.old }}đ </span>
            </div>

        </div>
    </div>
    {{/each}}
</div>

<h2 class="section-title transparent">
    <a href="">BÌNH LUẬN</a>
</h2>


{{> comments}}

{{/content}}






{{/extend}}


