{{#extend "default"}}
{{#content "body"}}

<h2 class="section-title">
   Kết quả cho "iPhone 5C"
</h2>

<div class="item-vertical">
    {{#each listItem}}
    <div class="item">
        <a href="{{ this.link }}" class="item__link"></a>


        <div class="item-vertical-info">

            <div class="item__image">
                <img src="{{ this.image }}" alt="">
            </div>


            <div class="item-vertical-content">
                <div class="item__name">
                    {{ this.name }}
                </div>

                <div class="item__price">
                    <span class="item__price--new">{{ this.price.new }}đ   </span>
                    <span class="item__price--old">{{ this.price.old }}đ </span>
                </div>

                <ul class="item__sale clearlist">
                    <li>Mua online: <span>Giảm 400.000đ</span></li>
                    <li>Trả góp chỉ từ: <span>1.810.000đ</span></li>
                </ul>
            </div>

        </div>



    </div>
    {{/each}}
</div>

<div class="sk-wave">
    <div class="sk-rect sk-rect1"></div>
    <div class="sk-rect sk-rect2"></div>
    <div class="sk-rect sk-rect3"></div>
    <div class="sk-rect sk-rect4"></div>
    <div class="sk-rect sk-rect5"></div>
</div>

{{/content}}
{{/extend}}
