{{#extend "default"}}
{{#content "body"}}


<h4 class="sosanh__title2">So sánh : Sony Xperia XA (F3116) - Samsung Galaxy S6 edge 32GB</h4>

<div class="categoryList">

    <div class="item item-sosanh">

        <div class="item__image">
            <img src="assets/img/product/item-1.jpg" alt="">
        </div>

        <div class="item__name">
            iPhone 5S 16GB Gold
        </div>


    </div>
    <div class="item item-sosanh">

        <div class="item__image">
            <img src="assets/img/product/item-1.jpg" alt="">
        </div>

        <div class="item__name">
            Samsung Galaxy J7 (SM-J710F)
        </div>


    </div>


</div>


<h4 class="sosanh__title2">MÀU SẢN PHẨM</h4>


<div class="flex-equal border-center sosanh__content">

    <div class="item element2">

        <div class="product__color">
            <div><span class="color choose" style="background-color: #4a4a4a;"></span></div>
            <div><span class="color" style="background-color: #d9d689;"></span></div>
            <div><span class="color" style="background-color: #df907f;"></span></div>
        </div>

    </div>


    <div class="item element2">
        <div class="product__color">
            <div><span class="color choose" style="background-color: #4a4a4a;"></span></div>
            <div><span class="color" style="background-color: #d9d689;"></span></div>
            <div><span class="color" style="background-color: #df907f;"></span></div>
        </div>
    </div>
</div>

<h4 class="sosanh__title2">SO SÁNH KHUYẾN MÃI</h4>


<div class="flex-equal border-center sosanh__content">

    <div class="item element2">
        <p><span style="font-weight:bold;">Khuyến mãi tháng 5</span><br>Áp dụng đến 31/5/2016 <br>- Giảm 50% gói
            gia hạn bảo hành<br>- Giảm 50% gói bảo hiểm <br>- <a
                    href="https://vienthonga.vn/the-cao-sim-so#simlocphat">Sim lộc phát chỉ với 80.000đ</a><br>
            - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;
            </p>


    </div>


    <div class="item element2">

            <p><span style="font-weight:bold;">Khuyến mãi tháng 5</span><br>Áp dụng đến 31/5/2016 <br>- Giảm 50% gói
                gia hạn bảo hành<br>- Giảm 50% gói bảo hiểm <br>- <a
                        href="https://vienthonga.vn/the-cao-sim-so#simlocphat">Sim lộc phát chỉ với 80.000đ</a><br>
                - Thêm 99.000đ sở hữu <strong><a href="https://vienthonga.vn/the-cao-sim-so#simdatakhung">Sim Data
                    Khủng</a></strong> trị giá 20.000.000đ: <br>&nbsp;&nbsp;+ Sim Vinaphone trả trước 10 số<br>&nbsp;&nbsp;+
                Khuyến mãi 3GB đến 6GB data 3G mỗi tháng x 12 tháng<br>&nbsp;&nbsp;+ Khuyến mãi (300 phút gọi không
                giới hạn trên 1 cuộc gọi + 150 tin nhắn) mỗi tháng x 12 tháng <br> <strong> Xem chi tiết <a
                        href="/khuyen-mai-thang-5-2016.html">tại đây</a></strong><br></p>


    </div>
</div>



<h4 class="sosanh__title2">TÍNH NĂNG NỖI BẬT</h4>


<div class="sosanh__content sosanh__table">
    <div class="spec">
        Mạng 2G
    </div>

    <div class="flex-equal info">
        <div class="element2">
            GSM 850 / 900 / 1800 / 1900
        </div>

        <div class="element2">
            GSM 850 / 900 / 1800 / 1900
        </div>
    </div>


    <div class="spec">
        Mạng 3G
    </div>

    <div class="flex-equal info">
        <div class="element2">
            HSDPA 850 / 900 / 1900 / 2100
        </div>

        <div class="element2">
            HSDPA 850 / 900 / 1700 / 1900 / 2100
        </div>
    </div>


    <div id="sosanhDetail" class="hideBlock" data-toggler=".hideBlock">

        <div class="spec">
            Mạng 2G
        </div>

        <div class="flex-equal info">
            <div class="element2">
                GSM 850 / 900 / 1800 / 1900
            </div>

            <div class="element2">
                GSM 850 / 900 / 1800 / 1900
            </div>
        </div>


        <div class="spec">
            Mạng 3G
        </div>

        <div class="flex-equal info">
            <div class="element2">
                HSDPA 850 / 900 / 1900 / 2100
            </div>

            <div class="element2">
                HSDPA 850 / 900 / 1700 / 1900 / 2100
            </div>
        </div>

    </div>

    <div class="text-center sosanh__more">
        <a data-toggle="sosanhDetail"><span>Xem so sánh cấu hình chi tiết <i
                class="ti-angle-down"></i></span></a>
    </div>



</div>



<div class="flex-equal sosanh__content">

    <div class="item element2 text-center">
        <a href="" class="button alert button-round expanded ">Đặt mua</a>
    </div>


    <div class="item element2 text-center">
        <a href="" class="button alert button-round expanded ">Đặt mua</a>
    </div>
</div>



{{/content}}






{{/extend}}


