

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="REFRESH" content="1800">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta property="fb:pages" content="186911474713457" />
    <meta content="news" itemprop="genre" name="medium">
    <meta content="vi-VN" itemprop="inLanguage">
    <title>Tra cứu hóa đơn điện tử</title><meta itemprop="name" content="Tra cứu hóa đơn điện tử"><meta name="apple-mobile-web-app-title" content="Tra cứu hóa đơn điện tử"><meta property="og:title" content="Tra cứu hóa đơn điện tử" /><meta name="description" content="Tra cứu hóa đơn điện tử" /><meta itemprop="description" content="Tra cứu hóa đơn điện tử"><meta property="og:description" content="Tra cứu hóa đơn điện tử" /><meta itemprop="image" content=""><meta property="og:image" content="" /><meta name="keywords" content="Tra cứu hóa đơn điện tử"/><meta property="og:type" content="website" /><meta property="og:url" content="https://vienthonga.vnhddt" /><meta property="og:updated_time" content="11/28/2016 11:54:56 AM" /><meta property="og:locale" content="vi_VN" /><meta property="og:image:width" content="800" /> <meta property="og:image:height" content="600" /><meta property="og:site_name" content="Viễn Thông A" /><meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="geo.region" content="VN" />
    <meta name="geo.position" content="14.058324;108.277199" />
    <meta name="ICBM" content="14.058324, 108.277199" />
    <meta name="robots" content="INDEX,FOLLOW" />

    <link href="/favicon.ico" rel="shortcut icon">


    <link href="https://vienthonga.vn/Content/lib-css-pc?v=kcw4H5Bo0A3nwEZXReJyEEGYDLQ36X3rPPcRWb05-Wo1" rel="stylesheet"/>

    <link href="https://vienthonga.vn/Content/genaral-css-pc?v=M4ff9a0aOXk-1x1sZ70J-Pq62ryF0kn1Cxe5azLh0Rk1" rel="stylesheet"/>


    <title>Tra cứu hóa đơn điện tử</title><meta itemprop="name" content="Tra cứu hóa đơn điện tử"><meta name="apple-mobile-web-app-title" content="Tra cứu hóa đơn điện tử"><meta property="og:title" content="Tra cứu hóa đơn điện tử" /><meta name="description" content="Tra cứu hóa đơn điện tử" /><meta itemprop="description" content="Tra cứu hóa đơn điện tử"><meta property="og:description" content="Tra cứu hóa đơn điện tử" /><meta itemprop="image" content=""><meta property="og:image" content="" /><meta name="keywords" content="Tra cứu hóa đơn điện tử"/><meta property="og:type" content="website" /><meta property="og:url" content="https://vienthonga.vnhddt" /><meta property="og:updated_time" content="11/28/2016 11:54:56 AM" /><meta property="og:locale" content="vi_VN" /><meta property="og:image:width" content="800" /> <meta property="og:image:height" content="600" /><meta property="og:site_name" content="Viễn Thông A" /><meta name="apple-mobile-web-app-capable" content="yes">


    <!--- VienThongA_Conversion_Home_Nov2015- Ads by Ambient Digital --->

    <!--- VienThongA_Conversion_Home_Nov2015- Ads by Ambient Digital --->
    <style>
        .detail-status-flashdeal {
            width: 65px;
            height: 51px;
            background: url("https://vienthonga.vn/Content/images/status-detail/icon-flash-deal.png");
        }
        .indicator-product-status.top-left-flashdeal {
            background: url(https://vienthonga.vn/Content/images/status-old/icon-flash-deal.png) no-repeat;
            width: 57px;
            height: 44px;
            left: 2px;
        }
    </style>



</head>
<body>
<div data-role="page" id="main-page">




    <style>
        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 1px solid #ddd;
        }

        .tracuuhoadon {
            border: 1px solid #d8d9da;
        }

        .tracuuhoadon li a:hover, .tracuuhoadon li a:active, .tracuuhoadon li a:focus {
            color: white;
        }

        .tracuuhoadon li.active a {
            color: white;
            background: #96989B;
        }

        .tracuuhoadon-nav li {
            border: 1px solid #d8d9da;
            border-top: none;
            border-right: none;
        }

        .tracuuhoadon-nhap {
            padding: 10px 10px 30px;
        }

        .xemhoadon {
            padding: 15px 30px;
        }

        .tracuuhoadon-nav {
            border-top: 1px solid #d8d9da;
        }

        .tracuuhoadon-nhap .input {
            font-size: 14px;
            -padding: 18px 10px;
            margin-bottom: 10px;
        }

        .tracuuhoadon-title {
            padding: 15px 15px;
            background: #d8d9da;
            border-left: 1px solid #d8d9da;
        ;
            margin: 0;
        }

        .tracuuhoadon-table {
            padding: 15px 10px;
            font-size: 14px;
        }

        .tracuuhoadon-table th {
            color: black;
            text-align: center;
        }

        .tracuuhoadon-table td {
            text-align: center;
        }

        .tracuuhoadon-table a {
            color: #1F5ECC;
        }



        .billdetail {
            display: block;
            overflow: hidden;
            margin: 20px auto;
            width: 880px;
            border-top: 1px solid #ccc;
            color: black;
        }


        .listbill {
            overflow: hidden;
            margin: 20px auto;
            width: 94%;
            border-top: 1px solid #ccc;
        }

        .count {
            display: block;
            padding: 10px 0;
            font-size: 14px;
            margin-bottom: 5px;
            color: #333;
        }

        .listbill table {
            background: #ccc;
        }

        .listbill tr {
            background: #fff;
        }

        .listbill td {
            padding: 5px;
            font-size: 14px;
            text-align: center;
        }

        .viewdetail {
            font-size: 14px;
            color: #09f;
            text-transform: uppercase;
        }

        .downbill {
            float: left;
            font-size: 14px;
            color: #09f;
            text-transform: uppercase;
            margin-left: 20px;
        }

        .viewdetail:hover,
        .downbill:hover {
            text-decoration: underline;
        }

        .billdetail {
            display: block;
            overflow: hidden;
            margin: 20px auto;
            width: 880px;
            border-top: 1px solid #ccc;
        }

        .lasttr td {
        }

        .leftinfotop {
            padding: 10px;
            font-size: 14px;
            color: #333;
            width: 35%;
        }

        .rightinfotop {
            padding: 10px;
            font-size: 14px;
            color: #333;
            width: 30%;
        }

        .rightinfotop div {
            float: right;
            width: 145px;
        }

        .typebill {
            padding: 10px 0;
            text-align: center;
            font-size: 24px;
            color: #333;
        }

        .typebill span {
            font-size: 14px;
        }

        .seller p {
            text-align: center;
        }

        .buyer {
            margin-right: 20px;
        }

        .buyer p {
        }

        .bg-vta {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: url("https://cdn1.vienthonga.vn/image/2016/5/2/100000_vta-hoadon-bg-2.png") center center;
        }

        body {
            position: relative;
        }
    </style>

    <br>
    <div class="container">
        <div class="row no-gutter tracuuhoadon clearfix">
            <div class="col-sm-12">
                <div class="tracuuhoadon-nhap">

                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="tracuuhddt">

                            <h3 class="text-center">TRA CỨU HÓA ĐƠN ĐIỆN TỬ CỦA BẠN</h3>


                            <hr>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" id="sdtKH" class="input" placeholder="Nhập số điện thoại mua hàng của bạn">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" id="soHoaDon" class="input" placeholder="Nhập số hóa đơn">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <b>Hoặc</b>
                                </div>
                                <div style="margin-left: 25%; width: 50%">
                                    <br>
                                    <br>
                                    <input type="text" id="soGiaoDich" class="input" placeholder="Nhập số giao dịch mua hàng của bạn">
                                    <br>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 nhapmaxacnhan">
                                    <div class="captcha">
                                        <b>Mã xác nhận</b>

                                        <input type="text" id="txtCodeRamdom" class="input" placeholder="">

                                        <span id="spCodeRamdom">52dw58</span>
                                    </div>
                                </div>


                                <div class="col-sm-12 text-center">
                                    <br>
                                    <a href="javascript:void(0)" onclick="SearchHoadon();" class="button button-blue xemhoadon">XEM HÓA ĐƠN</a>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_lagi">
                            <div class="invoice_info">
                                <p style="text-align: justify;"><span style="color: #888888; font-size: small;"><b><span size="3" color="#0000FF">Theo Th&ocirc;ng tư 32/2011-TTBTC ng&agrave;y 14/03/2011:</span></b></span></p>
                                <p style="text-align: justify;"><span size="3" color="#0000FF" style="color: #888888; font-size: small;">+ Ho&aacute; đơn điện tử (HDDT) l&agrave; tập hợp c&aacute;c th&ocirc;ng điệp dữ liệu điện tử về b&aacute;n h&agrave;ng ho&aacute; hoặc cung ứng dịch vụ được khởi tạo, lập, gửi, nhận, lưu trữ v&agrave; quản l&yacute; bằng phương tiện điện tử.</span></p>
                                <p style="text-align: justify;"><span size="3" color="#0000FF" style="color: #888888; font-size: small;">+ HDDT c&oacute; thể chuyển đổi th&agrave;nh h&oacute;a đơn giấy trong nhu cầu lưu th&ocirc;ng h&agrave;ng h&oacute;a, quản l&yacute; h&oacute;a đơn của người b&aacute;n hoặc người mua.</span></p>
                                <p style="text-align: justify;"><span size="3" color="#0000FF" style="color: #0000ff; font-size: medium;"><span style="color: #888888; font-size: small;">+ HDDT l&agrave; 1 trong 3 h&igrave;nh thức H&oacute;a đơn (H&oacute;a đơn tự in; H&oacute;a đơn đặt in; H&oacute;a đơn điện tử). Thay v&igrave; H&oacute;a đơn tạo lập tr&ecirc;n giấy, HDDT được tạo lập &amp; lưu trữ tr&ecirc;n thiết bị điện tử.</span><strong></strong></span></p>                        </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_quydinh">
                            <div class="invoice_info">
                                <div class="WordSection1">
                                    <div style="text-align: left;" align="center"><span style="font-size: small;"><span style="font-weight: bold;">Th&ocirc;ng tư hướng dẫn về khởi tạo, ph&aacute;t h&agrave;nh v&agrave; sử dụng ho&aacute; đơn điện tử&nbsp;</span><span style="font-weight: bold;">b&aacute;n h&agrave;ng h&oacute;a, cung ứng dịch vụ: Th&ocirc;ng tư 32/2011/TT-BTC ng&agrave;y 14/03/2011</span></span></div>
                                    <div style="text-align: left;" align="center"><span style="font-size: large;"><span style="font-weight: bold;"></span><span style="font-size: small;">File đ&iacute;nh k&egrave;m:&nbsp;<span style="color: #0000ff;"><a href="http://media.vienthonga.vn/data/tra-cuu-hoa-don-dien-tu/thong-tu-32-2011-hoa-don-dien-tu.pdf"><span style="font-weight: bold; color: #0000ff;">tại đ&acirc;y</span></a></span></span></span></div>
                                    <h5 style="text-align: left;"></h5>
                                    <br clear="ALL" />
                                    <p></p>
                                </div>                        </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_bienbandieuchinh">
                            <div class="invoice_info">

                                <p style="text-align: justify;"><span size="2" color="#0000FF" face="Arial" style="color: #888888; font-family: Arial;">Th&ocirc;ng tư 26/2015/TT-BTC: Tại Điều 3, Khoản 7 Sửa đổi, bổ sung Điều 16 Th&ocirc;ng tư 39/2014/TT-BTC như sau:</span><br /><br /><span style="color: #888888;"><b><i><span size="2" color="#0000FF">b)</span></i></b><i><span size="2" color="#0000FF">&nbsp;Sửa đổi, bổ sung điểm b Khoản 2 Điều 16 như sau:</span></i></span></p>
                                <p style="text-align: justify;"><span style="color: #888888;"><i><span size="2" color="#0000FF">&hellip;</span></i></span></p>
                                <p style="text-align: justify;"><span style="color: #888888;"><i><span size="2" color="#0000FF">Trường hợp h&oacute;a đơn đ&atilde; lập c&oacute; sai s&oacute;t về t&ecirc;n, địa chỉ người mua nhưng ghi đ&uacute;ng m&atilde; số thuế người mua th&igrave; c&aacute;c b&ecirc;n lập bi&ecirc;n bản điều chỉnh v&agrave; kh&ocirc;ng phải lập h&oacute;a đơn điều chỉnh. C&aacute;c trường hợp h&oacute;a đơn đ&atilde; lập c&oacute; sai s&oacute;t kh&aacute;c thực hiện theo hướng dẫn tại Điều 20 Th&ocirc;ng tư số 39/2014/TT-BTC của Bộ T&agrave;i ch&iacute;nh.&rdquo;</span></i></span><br /><span size="2" color="#0000FF" face="Arial" style="color: #888888; font-family: Arial;">Căn cứ theo quy định tr&ecirc;n:</span></p>
                                <p style="text-align: justify;"><span size="2" color="#0000FF" face="Arial" style="color: #888888; font-family: Arial;">- Đối với những h&oacute;a đơn ghi sai t&ecirc;n, địa chỉ người mua nhưng ghi đ&uacute;ng m&atilde; số thuế người mua th&igrave;:</span></p>
                                <p style="text-align: justify;"><span style="color: #888888;"><i><span size="2" color="#0000FF" face="Arial" style="font-family: Arial;">+ Lập bi&ecirc;n bản điều chỉnh ghi nhận sự việc, trong bi&ecirc;n bản ghi r&otilde; sai s&oacute;t, đồng thời k&yacute; v&agrave; ghi r&otilde; họ t&ecirc;n của người đại diện theo ph&aacute;p luật.</span></i></span></p>
                                <p style="text-align: justify;"><span style="color: #888888;"><i><span size="2" color="#0000FF" face="Arial" style="font-family: Arial;">+ Người b&aacute;n v&agrave; người mua được sử dụng ho&aacute; đơn đ&atilde; lập k&egrave;m theo bi&ecirc;n bản về sai s&oacute;t m&atilde; số thuế tr&ecirc;n ho&aacute; đơn để l&agrave;m chứng từ kế to&aacute;n v&agrave; k&ecirc; khai thuế.</span></i></span></p>
                                <p style="text-align: justify;"><span size="2" color="#0000FF" face="Arial" style="color: #888888; font-family: Arial;">- Đối với những h&oacute;a đơn sai s&oacute;t kh&aacute;c như sai s&oacute;t m&atilde; số thuế người mua, sai s&oacute;t về tiền h&agrave;ng, tiền thuế&hellip;. th&igrave; doanh nghiệp thực hiện xử l&yacute; h&oacute;a đơn c&oacute; sai s&oacute;t theo quy định tại Điều 20 Th&ocirc;ng tư 39/2014/TT-BTC.</span></p>
                                <p style="text-align: justify;"><span size="2" color="#0000FF" face="Arial" style="color: #888888; font-family: Arial;">Bi&ecirc;n bản mẫu đ&iacute;nh k&egrave;m: <span style="text-decoration: underline;"><a href="http://media.vienthonga.vn/data/tra-cuu-hoa-don-dien-tu/bien-ban-dieu-chinh-hoa-don.pdf"><span style="color: #0000ff;"><strong>tại đ&acirc;y</strong></span></a></span></span></p>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_bienbantrathu">
                            <div class="invoice_info">

                                <p style="text-align: justify;"><span style="font-size: small;">Khi kh&aacute;ch h&agrave;ng trả lại h&agrave;ng h&oacute;a đ&atilde; mua tại Viễn Th&ocirc;ng A. Kh&aacute;ch h&agrave;ng điền v&agrave;o Bi&ecirc;n bản trả h&agrave;ng &amp; Thu Hồi H&oacute;a đơn. Đại diện B&ecirc;n ph&iacute;a C&ocirc;ng ty kh&aacute;ch h&agrave;ng sẽ k&yacute; t&ecirc;n &amp; đ&oacute;ng dấu v&agrave;o Bi&ecirc;n bản. Bi&ecirc;n bản được chuyển tới cửa h&agrave;ng của Viễn Th&ocirc;ng A để thực hiện thủ tục trả h&agrave;ng.</span></p>
                                <p><span style="font-size: small;">Bi&ecirc;n bản mẫu đ&iacute;nh k&egrave;m: <span style="text-decoration: underline;"><span style="color: #0000ff;"><strong><a href="http://media.vienthonga.vn/data/tra-cuu-hoa-don-dien-tu/bien-ban-tra-hang-va-thu-hoi-hoa-don.pdf"><span style="color: #0000ff; text-decoration: underline;">tại đ&acirc;y</span></a></strong></span></span></span></p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_huy">
                            <div class="invoice_info">

                                <p><span size="3" color="#0000FF" style="color: #888888;">Trường hợp hoá đơn vi&ecirc;́t sai nhưng chưa k&ecirc; khai thuế .</span></p>
                                <p><span size="3" color="#0000FF" style="color: #888888;">C&aacute;ch xử l&yacute;: - Lập bi&ecirc;n bản hủy h&oacute;a đơn h&oacute;a đơn đ&atilde; lập sai.</span></p>
                                <p><span size="3" color="#0000FF" style="color: #888888;">Bi&ecirc;n bản&nbsp;hủy h&oacute;a đơn GTGT phải c&oacute; chữ k&yacute;, đ&oacute;ng dấu x&aacute;c nhận của 2 b&ecirc;n, ghi r&otilde; l&yacute; do thu hồi.</span></p>
                                <p><span size="3" color="#0000FF" style="color: #888888;">- Người b&aacute;n gạch ch&eacute;o c&aacute;c li&ecirc;n v&agrave; phải lưu giữ số h&oacute;a đơn đ&atilde; lập sai đ&oacute;.</span></p>
                                <p><span size="3" color="#0000FF" style="color: #888888;">- Xuất lại Ho&aacute; đơn mới (đ&uacute;ng). Hai b&ecirc;n d&ugrave;ng h&oacute;a đơn mới để khai thuế.</span></p>
                                <p><span size="3" color="#0000FF" style="color: #888888;">Bi&ecirc;n bản mẫu đ&iacute;nh k&egrave;m: <span style="color: #0000ff;"><a href="http://media.vienthonga.vn/data/tra-cuu-hoa-don-dien-tu/bien-ban-huy-hoa-don.pdf"><span style="text-decoration: underline; color: #0000ff;"><strong>tại đ&acirc;y</strong></span></a></span></span></p>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="hddt_congvan">
                            <div class="invoice_info">

                                <p><img src="https://cdn1.vienthonga.vn/image/2016/5/1/100000_cv-tra-loi-cuc-thue-con-dau-tren-hoa-don-1.jpg" width="100%" style="display: block; margin-left: auto; margin-right: auto;" /></p>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="hddt_thongbaophathanh">
                            <div class="invoice_info">

                                <p><span style="font-size: small;"><strong>I. Th&ocirc;ng b&aacute;o ph&aacute;t h&agrave;nh ho&aacute; đơn khu vực (mẫu HCM):&nbsp;</strong><strong>&nbsp;File đ&iacute;nh k&egrave;m <span style="text-decoration: underline;"><span style="color: #0000ff;"><a href="http://media.vienthonga.vn/data/tra-cuu-hoa-don-dien-tu/thong-bao-ph-hddt-hcm-1.pdf"><span style="color: #0000ff; text-decoration: underline;">tại đ&acirc;y</span></a></span></span></strong></span></p>
                                <p><span style="font-size: small;"><strong><strong>II. Th&ocirc;ng b&aacute;o ph&aacute;t h&agrave;nh ho&aacute; đơn to&agrave;n c&ocirc;ng ty: Xem chi tiết&nbsp;<span style="text-decoration: underline;"><span style="color: #0000ff;"><a href="http://www.tracuuhoadon.gdt.gov.vn/tc1hd.html" target="_blank"><span style="color: #0000ff; text-decoration: underline;">tại đ&acirc;y</span></a></span></span></strong></strong></span></p>
                                <p><span style="font-size: small;"><strong>III. H&oacute;a đơn đ&iacute;nh k&egrave;m từ h&oacute;a đơn chuyển đổi</strong></span></p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="hddt_quyetdinhsungdung">
                            <div class="invoice_info">

                                <p style="text-align: center;"><img src="https://cdn1.vienthonga.vn/image/2016/5/1/100000_qd-su-dung-hoa-don-dien-tu-1-1.JPG" width="100%" /></p>
                                <p><img src="https://cdn1.vienthonga.vn/image/2016/5/1/100000_qd-su-dung-hoa-don-dien-tu-2-1.JPG" width="100%" style="display: block; margin-left: auto; margin-right: auto;" /></p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="col-sm-12">
                <div class="tracuuhoadon-table" id="showHoadon" style="display: none;">

                </div>




                <div class="col-sm-12">

                    <style>
                        .horizontal-scroll{
                            overflow-x: scroll;
                            overflow-y: hidden;
                            position: relative;

                            -webkit-overflow-scrolling: touch;
                        }
                    </style>

                    <div class="horizontal-scroll">

                        <div class="billdetail" id="billdetail" style="display: none;">

                        </div>

                    </div>


                </div>



            </div>

            <br>




            <div class="col-sm-12">
                <h5 class="tracuuhoadon-title">THÔNG TIN VỀ HÓA ĐƠN ĐIỆN TỬ</h5>
                <ul class="nav tracuuhoadon-nav ">
                    <li role="presentation" class="active"><a href="#tracuuhddt" aria-controls="home" role="tab" data-toggle="tab">Tra cứu hóa đơn điện tử</a></li>
                    <li role="presentation"><a href="#hddt_lagi" aria-controls="home" role="tab" data-toggle="tab">Hóa đơn điện tử là gì</a></li>
                    <li role="presentation"><a href="#hddt_quydinh" aria-controls="profile" role="tab" data-toggle="tab">Quy định khi sử dụng HĐĐT</a></li>
                    <li role="presentation"><a href="#hddt_bienbandieuchinh" aria-controls="messages" role="tab" data-toggle="tab">Biên bản điều chỉnh hoá đơn</a></li>
                    <li role="presentation"><a href="#hddt_bienbantrathu" aria-controls="settings" role="tab" data-toggle="tab">Biên bản trả hàng và thu hồi hóa đơn</a></li>
                    <li role="presentation"><a href="#hddt_huy" aria-controls="settings" role="tab" data-toggle="tab">Biên bản hủy hóa đơn</a></li>
                    <li role="presentation"><a href="#hddt_congvan" aria-controls="settings" role="tab" data-toggle="tab">Công văn của Cục Thuế cho phép không đóng dấu trên hoá đơn</a></li>
                    <li role="presentation"><a href="#hddt_thongbaophathanh" aria-controls="settings" role="tab" data-toggle="tab">Thông báo phát hành Hoá đơn điện tử</a></li>
                    <li role="presentation"><a href="#hddt_quyetdinhsungdung" aria-controls="settings" role="tab" data-toggle="tab">Quyết định sử dụng hoá đơn điện tử</a></li>
                </ul>

            </div>



        </div>
    </div>

   <p>&nbsp;</p>

    <script type="text/javascript">

        window.onload = function () {
            $("#spCodeRamdom").text(makerandom());
        };
        var objData;
        var objDataDetail;


        function SearchHoadon() {
            //alert(1);
            var soGiaoDich = $("#soGiaoDich").val();
            var sohoadon = $("#soHoaDon").val();
            var sdtKH = $("#sdtKH").val();

            var VarRandomText = $("#txtCodeRamdom").val();
            var VarCodeRamdom = $("#spCodeRamdom").text();
            if (sdtKH == "" && soGiaoDich == "") {
                alert("Bạn chưa nhập số điện thoại");
                return false;
            }
            if (sohoadon == "" && soGiaoDich == "") {
                alert("Bạn chưa nhập số hóa đơn");
                return false;
            }
            if (sohoadon == "" && soGiaoDich == "" && sdtKH == "") {
                alert("Bạn chưa nhập số giao dịch");
                return false;
            }
            if (VarRandomText === "" || VarRandomText.toUpperCase() !== VarCodeRamdom.toUpperCase()) {
                alert("Mã xác nhận chưa đúng");
                return false;
            }
            var countItem = 0;

            $.ajax({
                type: 'post',
                data: { "soHoaDon": sohoadon, "sdtKH": sdtKH, "guidPX" : soGiaoDich},
                url: 'https://publicapi.vienthonga.vn/hddt-api/SearchHddt',
                success: function(data) {
                    objData = data;
                    //debugger;
                    $("#showHoadon").html("");
                    $("#billdetail").html("");
                    var strhtml = '<hr><p>' + objData.Data.objKetQua.moTaKetQua + '</p>';
                    if (objData.Data.listInvoiceGTKT != null) {
                        strhtml += '<table  class="table table-bordered"><thead><tr><th>STT</th><th>Mã số hóa đơn</th><th>Ngày xuất</th><th>Chức năng</th></tr></thead><tbody>';
                        $.each(objData.Data.listInvoiceGTKT, function(i, item) {
                            countItem = countItem + 1;
                            var fromDate = new Date(item.ngayHoaDon);
                            strhtml += '<tr><td>' + countItem + '</td><td>' + item.soHoaDon + '</td><td>' + fromDate.getDate()+'/'+ (fromDate.getMonth() + 1) +'/'+ fromDate.getFullYear() + '</td><td><a href="javascript:void(0)" onclick="DetailHoadon(\''+item.soHoaDon+'\',\''+item.maPhieuXuat+'\');">Xem</a></td></tr>';
                        });
                        strhtml += '</tbody></table>';
                    }
                    $("#showHoadon").html(strhtml);
                    $("#billdetail").hide();
                    $("#showHoadon").show();

                }
            });
            return false;
        }

        function DetailHoadon(sohoadon, maphieuxuat) {
            var rs = objData.Data.listInvoiceGTKT.find(c => c.soHoaDon == sohoadon && c.maPhieuXuat == maphieuxuat);
            $.ajax({
                type: 'post',
                data: { "soHoaDon": rs.soHoaDon, "guid_px": rs.guid_px, "kyHieu": rs.kyHieu, "mauSo": rs.mauSo },
                url: 'https://publicapi.vienthonga.vn/hddt-api/LoadXMLHDDT',
                success: function(data) {
                    objDataDetail = data.Data.byteContenXml;
                    var TTinHDon = objDataDetail.HDonGTKT.NDungHDon.TTinHDon;
                    var TTinNBan = objDataDetail.HDonGTKT.NDungHDon.NBan;
                    var TTinNMua = objDataDetail.HDonGTKT.NDungHDon.NMua;
                    var DSachHHoaDVu = objDataDetail.HDonGTKT.NDungHDon.DSachHHoaDVu;
                    //console.log(objDataDetail);
                    //debugger;
                    var fromDate = new Date(TTinHDon.ngayBan);
                    var htmldetail = '<table width="100%">' +
                        '                        <tbody>' +
                        '                           <tr>' +
                        '                                <td class="leftinfotop">' +
                        '                                    <b>CÔNG TY CỔ PHẦN SẢN XUẤT THƯƠNG MẠI XUẤT NHẬP KHẨU VIỄN THÔNG A</b> <br>' +
                        '    Địa chỉ: 328-330 Đường 3/2, Phường 12, Quận 10, TP.HCM, VN <br>' +
                        '    Mã số thuế: 0301430045<br>' +
                        '    Số TK: 0071000769417 Tại NH Vietcombank - CN HCM ' +
                        '</td>' +
                        '<td class="typebill"><strong>HÓA ĐƠN<br/>GIÁ TRỊ GIA TĂNG</strong><br /><span>(hóa đơn chuyển đổi từ hóa đơn điện tử)</span></td>' +
                        '<td class="rightinfotop" valign="top">' +
                        '    <div>' +
                        '        Mẫu số: ' + TTinHDon.mauHDon + '<br>' +
                        '        Ký hiệu: ' + TTinHDon.kyHieuHDon + '<br>' +
                        '    Số: ' + TTinHDon.soHDon + '<br>' +
                        '    Ngày: ' + fromDate.getDate()+'/'+ (fromDate.getMonth() + 1) +'/'+ fromDate.getFullYear() + '' +
                        '</div>' +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td colspan="3">' +
                        '    <table width="100%" bgcolor="#ccc" border="0" cellpadding="1" cellspacing="1" class="table table-bordered">' +
                        '        <tbody>' +
                        '            <tr bgcolor="#fff">' +
                        '                <td style="padding: 5px" width="50%" valign="top">' +
                        '                    Tên chi nhánh:  ' + TTinNBan.tenCN + '<br>' +
                        '                    Địa chỉ chi nhánh:  ' + TTinNBan.diaChiCN + '<br>' +
                        '                    Mã số thuế: ' + TTinNBan.MST + '' +
                        '                </td>' +
                        '                <td style="padding: 5px">' +
                        '                   Họ tên người mua hàng: ' + TTinNMua.hoTen + '<br>' +
                        '                   Tên đơn vị: ' + (TTinNMua.tenDVi == null ? " " : TTinNMua.tenDVi) + '<br>' +
                        '                   MST: ' + (TTinNMua.MST == null ? " " : TTinNMua.MST) + '<br>' +
                        '                   Địa chỉ: ' + (TTinNMua.diaChi == null ? " " : TTinNMua.diaChi) + '<br>' +
                        '                   Hình thức thanh toán: Tiền mặt/CK  ' +
                        '</td>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table>' +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td colspan="3" style="padding-top: 20px">' +
                        '    <table width="100%" bgcolor="#ccc" border="0" cellpadding="1" cellspacing="1" class="table table-bordered">' +
                        '        <tbody>' +
                        '            <tr bgcolor="#fff" style="font-weight: 600; text-align: center;">' +
                        '                <td style="padding: 8px 5px">STT</td>' +
                        '                <td>Tên hàng hóa, dịch vụ</td>' +
                        '                <td>Đơn vị tính</td>' +
                        '                <td>Thuế suất (%)</td>' +
                        '                <td>Số lượng</td>' +
                        '                <td>Đơn giá</td>' +
                        '                <td>Thành tiền</td>' +
                        '            </tr>' +
                        '            <tr bgcolor="#fff"  style="text-align: center;">' +
                        '                <td>(1)</td>' +
                        '                <td>(2)</td>' +
                        '                <td>(3)</td>' +
                        '                <td>(4)</td>' +
                        '                <td>(5)</td>' +
                        '                <td>(6)</td>' +
                        '                <td>(7=5x6)</td>' +
                        '            </tr>';
                    var itemCount = 0;
                    if (objDataDetail.HDonGTKT.NDungHDon.DSachHHoaDVu.HHoaDVu.length > 1) {
                        $.each(objDataDetail.HDonGTKT.NDungHDon.DSachHHoaDVu.HHoaDVu, function(index, item) {
                            itemCount = itemCount + 1;
                            htmldetail = htmldetail + '            <tr bgcolor="#fff" style="text-align: center;">' +
                                '                <td style="padding: 5px">' + itemCount + '</td>' +
                                '                <td style="text-align:left">' + item.tenHHoaDVu + '</td>' +
                                '                <td>' + item.DVT + '</td>' +
                                '                <td>' + item.thueSuat + '</td>' +
                                '                <td>' + item.soLuong + '</td>' +
                                '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(item.donGia)) + '</td>' +
                                '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(item.thanhTienChuaThue)) + '</td>' +
                                '            </tr>';
                        });
                    } else {
                        htmldetail = htmldetail + '            <tr bgcolor="#fff" style="text-align: center;">' +
                            '                <td style="padding: 5px">1</td>' +
                            '                <td style="text-align:left">' + DSachHHoaDVu.HHoaDVu.tenHHoaDVu + '</td>' +
                            '                <td>' + DSachHHoaDVu.HHoaDVu.DVT + '</td>' +
                            '                <td>' + DSachHHoaDVu.HHoaDVu.thueSuat + '</td>' +
                            '                <td>' + DSachHHoaDVu.HHoaDVu.soLuong + '</td>' +
                            '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.HHoaDVu.donGia)) + '</td>' +
                            '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.HHoaDVu.thanhTienChuaThue)) + '</td>' +
                            '            </tr>';
                    }







                    htmldetail = htmldetail + '        </tbody>' +
                        '    </table>' +
                        '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td colspan="3" style="position: relative; top: -3px;">' +
                        '    <table width="100%" bgcolor="#ccc" border="0" cellpadding="1" cellspacing="1" class="table table-bordered">' +
                        '        <tbody>' +
                        '            <tr bgcolor="#fff" style="font-weight: 600">' +
                        '                <td style="padding: 5px">&nbsp;</td>' +
                        '                <td>Thuế suất 0%</td>' +
                        '                <td>Thuế suất 5%</td>' +
                        '                <td>Thuế suất 10%</td>' +
                        '                <td>Tổng cộng</td>' +
                        '            </tr>' +
                        '            <tr bgcolor="#fff">' +
                        '                <td style="padding: 5px">Tiền hàng hóa, dịch vụ</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienChuaThue0)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienChuaThue5)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienChuaThue10)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienChuaThue)) + '</td>' +
                        '            </tr>' +
                        '            <tr bgcolor="#fff">' +
                        '                <td style="padding: 5px">Tiền thuế</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienThue0)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienThue5)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienThue10)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienThue)) + '</td>' +
                        '            </tr>' +
                        '            <tr bgcolor="#fff">' +
                        '                <td style="padding: 5px">Tiền thanh toán</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienCoThue0)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienCoThue5)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienCoThue10)) + '</td>' +
                        '                <td align="right">' + VtaJsPC.main.FormatNumber(Math.round(DSachHHoaDVu.TToan.tongTienCoThue)) + '</td>' +
                        '            </tr>' +
                        '            <tr bgcolor="#fff">' +
                        '                <td colspan="5" style="padding: 5px">Số tiền bằng chữ: <span class="m_b_w"> <b>' + DSachHHoaDVu.TToan.tongTienTToanBChu + '</b></span></td>' +
                        '            </tr>' +
                        '        </tbody>' +
                        '    </table>' +
                        '</td>' +
                        '</tr>' +
                        '<tr class="lasttr">' +
                        '    <td colspan="5" width="100%">' +
                        '        <table width="100%" height="140" bgcolor="#ccc" border="0" cellpadding="0" cellspacing="0" class="table table-bordered" style="border: none; margin-top: 20px;">' +
                        '            <tbody>' +
                        '                <tr bgcolor="#fff" valign="top">' +
                        '                    <td width="35%">' +
                        '                        <div class="seller" style="float: left; padding: 0 15px;">' +
                        '                            <p>Người mua hàng</p>' +
                        '                            <p><i>(Kí, ghi rõ họ tên)</i></p>' +
                        '                            <br><br><br>' +
                        '                            <p></p>' +
                        '                        </div>' +
                        '</td>' +
                        '                    <td width="65%">' +
                        '                        <div class="buyer"  style=" float: right; padding: 0 100px 0 10px;">' +
                        '                            <p>Người bán hàng</p>' +
                        '                            <p><i>(Ký, đóng dấu. ghi rõ họ tên)</i></p>' +
                        '                            <br><br><br>' +
                        '                            <p></p>' +
                        '                        </div>' +
                        '                    </td>' +
                        '                </tr>' +
                        '            </tbody>' +
                        '        </table>' +
                        '    </td>' +
                        '</tr>' +
                        '</tbody>' +
                        '</table>';

                    var allhtml = htmldetail + '<a href="javascript:void(0)" id="" onclick="VeDanhSach();" class="button button-gray pull-left">Về danh sách</a>' +
                        '<a href="https://vienthonga.vn/hddt/in-hoa-don?guid_px='+rs.guid_px+'&kyHieu='+rs.kyHieu+'&mauSo='+rs.mauSo+'&soHoaDon='+ rs.soHoaDon+'" target="_blank" class="button button-blue pull-right">Tải hóa đơn</a>' +
                        '';

                    $("#billdetail").html(allhtml);
                    $("#showHoadon").hide();
                    $("#billdetail").show();

                }
            });

        }

        function VeDanhSach() {
            $("#showHoadon").show();
            $("#billdetail").hide();
        }

        function makerandom() {
            var text = "";
            var possible = "abcdefghijklmnopqrstuvwxyz0123456789";

            for (var i = 0; i < 6; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }
    </script>






</div>
<script src="https://vienthonga.vn/bundles/default-jquery-pc?v=46W8n1A-uol0Ayb_KKIJ9qh1FQ5bjLNnH_3N1ZJFsVk1"></script>

<script src="https://vienthonga.vn/bundles/lib-jquery-pc?v=4cC_1RCznnTdt1f4bqbEhYlCOGVYa9PQj24F2NIQS781"></script>

<script src="https://vienthonga.vn/bundles/global-js-pc?v=e8iDhvjQP4XwekMp2M5mV1Po008gQpK8tnwZTt7Xh4k1"></script>




</body>
</html>
