<div class="comments-form">
    <div class="comment">
        <div class="comment-figure" style=""> V
        </div>

        <div class="comment-body">
            <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
            <input type="text" placeholder="Tên của bạn">
            <input type="Email" placeholder="Email">
            <div class="comment-captcha">
                <img src="assets/img/product/recaptcha.png" alt="">
            </div>
            <div class="text-right">
                <a class="button alert" href="#">Gửi bình luận</a>
            </div>


        </div>
    </div>
</div>

<div class="comments-sort">
    <select class="">
        <option value="">Mới nhất</option>
        <option value="">Top thảo luận</option>
    </select>
</div>

<div class="comments">
    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h5 class="comment-name">Nguyễn Việt Hùng</h5>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Ad cùng tất cả các bạn đọc được tin nhắn này cho mình hỏi. IP 6s khi ko sử dụng, tắt hết ứng dụng chạy ngầm, tắt wifi, để qua đêm (8 tiếng) thì tốn pin nhiều ko, khoảng bao nhiêu. Xin cám ơn trước ạ !!!</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="ti-back-right"></i> Trả lời</a>
                <a href=""><i class="ti-thumb-up"></i> Thích</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                        <input type="text" placeholder="Tên của bạn">
                        <input type="Email" placeholder="Email">
                        <div class="comment-captcha">
                            <img src="assets/img/product/recaptcha.png" alt="">
                        </div>
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>



            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h5 class="comment-name admin">Viễn Thông A - Quản Trị Viên Roger Federer</h5>
                    <div class="comment-date"><span class="round alert label">ADMIN</span> 4 phút trước </div>
                    <div class="comment-content">Chào bạn!
                        Như thông tin bạn chia sẽ và tắt luôn màn hình thì sản phẩm sẽ tụt khoảng 1 - 3% pin, tùy thuộc vào nhiệt độ phòng hay vị trí bạn để sản phẩm trên các thiết bị truyền nhiệt,
                        Thân chào bạn!</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="ti-back-right"></i> Trả lời</a>
                        <a href=""><i class="ti-thumb-up"></i> Thích</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                                <input type="text" placeholder="Tên của bạn">
                                <input type="Email" placeholder="Email">
                                <div class="comment-captcha">
                                    <img src="assets/img/product/recaptcha.png" alt="">
                                </div>
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment">
                <div class="comment-figure" style="background-image: url('') "> V
                </div>

                <div class="comment-body">
                    <h5 class="comment-name">Roger Federer</h5>
                    <div class="comment-date">15 phút trước</div>
                    <div class="comment-content">Chào bạn!
                        Như thông tin bạn chia sẽ và tắt luôn màn hình thì sản phẩm sẽ tụt khoảng 1 - 3% pin, tùy thuộc vào nhiệt độ phòng hay vị trí bạn để sản phẩm trên các thiết bị truyền nhiệt,
                        Thân chào bạn!</div>

                    <div class="comment-meta">
                        <a href="" class="reply-comment-btn"><i class="ti-back-right"></i> Trả lời</a>
                        <a href=""><i class="ti-thumb-up"></i> Thích</a>

                        <div class="comment-replay">
                            <div class="comment-body">
                                <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                                <input type="text" placeholder="Tên của bạn">
                                <input type="Email" placeholder="Email">
                                <div class="comment-captcha">
                                    <img src="assets/img/product/recaptcha.png" alt="">
                                </div>
                                <div class="text-right">
                                    <a class="button alert" href="#">Gửi bình luận</a>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>


        </div>
    </div>

    <div class="comment">
        <div class="comment-figure" style="background-image: url('https://philipwalton.github.io/solved-by-flexbox/images/kitten.jpg') ">
        </div>

        <div class="comment-body">
            <h5 class="comment-name">Nguyễn Việt Hùng</h5>
            <div class="comment-date">15 phút trước</div>
            <div class="comment-content">Ad cùng tất cả các bạn đọc được tin nhắn này cho mình hỏi. IP 6s khi ko sử dụng, tắt hết ứng dụng chạy ngầm, tắt wifi, để qua đêm (8 tiếng) thì tốn pin nhiều ko, khoảng bao nhiêu. Xin cám ơn trước ạ !!!</div>

            <div class="comment-meta">
                <a href="" class="reply-comment-btn"><i class="ti-back-right"></i> Trả lời</a>
                <a href=""><i class="ti-thumb-up"></i> Thích</a>

                <div class="comment-replay">
                    <div class="comment-body">
                        <textarea placeholder="Ý kiến của bạn (gõ tiếng việt có dấu)" rows="3"></textarea>
                        <input type="text" placeholder="Tên của bạn">
                        <input type="Email" placeholder="Email">
                        <div class="comment-captcha">
                            <img src="assets/img/product/recaptcha.png" alt="">
                        </div>
                        <div class="text-right">
                            <a class="button alert" href="#">Gửi bình luận</a>
                        </div>


                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="comment-loadmore"><a href=""> Xem thêm 4 bình luận <i class="ti-angle-down"></i></a></div>

</div>