<footer>

    <div class="row">
        <div class="small-12 columns">
            <div class="nhan-tin-km flex-equal">
                <input type="text" placeholder="Đăng ký nhận tin khuyến mãi">

                <a href="#features" class="button alert">Gửi</a>
            </div>
        </div>
    </div>


    <h2 class="section-title">
        <a href="">TÌM MUA ĐIỆN THOẠI</a>
    </h2>

    <div class="section-space footer--menu">
        <div class="row">
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-mobile"></i>
                    Điện thoại
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-tablet"></i>
                    Tablet
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-desktop"></i>
                    Laptop
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-headphone"></i>
                    Phụ kiện
                </div>
            </div>
        </div>

        <div class="row">
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-gift"></i>
                    Khuyến mãi
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-ticket"></i>
                    Private sales
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-signal"></i>
                    Thẻ - Sim
                </div>
            </div>
            <div class="small-3 columns">
                <div class="footer--menu--item">
                    <a href="" class="a-absolute"></a>
                    <i class="ti-alarm-clock"></i>
                    Vplus
                </div>
            </div>
        </div>
    </div>




    <h2 class="section-title">
        <a href="">ĐIỆN THOẠI HỖ TRỢ</a>
    </h2>

    <div class="row section-space">
        <div class="small-12 columns">
            <a href="" class="call-btn"><i class="ti-mobile"></i> 190054 54 56</a>

            <ul class="clearlist">
                <li>- Tư vấn & mua hàng online ( nhấn phím 1 ) </li>

                    <li>- Mua hàng trả góp online ( nhấn phím 2) </li>

                <li>    - Khiếu nại & chăm sóc khách hàng ( nhấn phím 0) </li>
            </ul>

            <br>

        </div>
    </div>






</footer>