<div class="naviTop">

    <div class="naviTop__menu">
        <a href="" class="toggle-button"><i class="ti-menu"></i></a>
    </div>

    <div class="naviTop__logo">
        <a href="/">
            <img data-interchange="[assets/img/logo/logo.png, small], [assets/img/logo/logo_2x.png, retina]">
            <noscript><img src="assets/img/logo/logo.png"></noscript>
        </a>
    </div>

    <div class="naviTop__search">
        <a href=""><i class="ti-user"></i></a>
    </div>

</div>

<div class="row searchbar" id="searchNav">
    <div class="small-12 columns">
        <div class="searchbar__field">
            <input class="" type="text" placeholder="Tên sản phẩm" data-products-search onfocus="SearchToTop()">
            <div class="searchbar__submit">
                <a href="search.html" class=""><i class="vicon_magnify"></i></a>
            </div>
        </div>

    </div>
</div>






