
    <section id="slider" class="no-padding content-top-margin">
        <!-- slider -->
        <div id="owl-demo" class="owl-carousel owl-theme owl-half-slider dark-pagination dark-pagination-without-next-prev-arrow">
            <!-- slider item -->
            <div class="item owl-bg-img" style="background-image:url('images/slider-img38.jpg');">
                <div class="container position-relative">
                    <div class="slider-typography slider-typography-shop text-left">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle padding-left-right-px animated fadeInUp">
                                <span class="owl-subtitle black-text">Season 2015</span>
                                <span class="owl-title black-text xs-margin-bottom-seven">Shopping With Style</span>
                                <a href="http://www.themezaa.com/html/h-code/shop-with-sidebar.html" class="highlight-button-dark btn margin-four">Check Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- slider item -->
            <div class="item owl-bg-img" style="background-image:url('images/slider-img39.jpg');">
                <div class="container position-relative">
                    <div class="slider-typography slider-typography-shop text-left">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle padding-left-right-px">
                                <span class="owl-subtitle black-text">Winter Collection</span>
                                <span class="owl-title black-text xs-margin-bottom-seven">Incredible Spring Style</span>
                                <a href="http://www.themezaa.com/html/h-code/shop-with-sidebar.html" class="highlight-button-dark btn margin-four">Check Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
            <!-- slider item -->
            <div class="item owl-bg-img" style="background-image:url('images/slider-img40.jpg');">
                <div class="container position-relative">
                    <div class="slider-typography slider-typography-shop text-left">
                        <div class="slider-text-middle-main">
                            <div class="slider-text-middle padding-left-right-px">
                                <span class="owl-subtitle black-text">Best Products</span>
                                <span class="owl-title black-text xs-margin-bottom-seven">Top Notch Products</span>
                                <a href="http://www.themezaa.com/html/h-code/shop-with-sidebar.html" class="highlight-button-dark btn margin-four">Check Collection</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider item -->
        </div>
        <!-- end slider -->
    </section>
