<div class="des-accordion inlineBlock">

    <ul class="accordion">
        <li class="accordion-item {{#ifCond active 'muatragop-thutucquytrinh'}}is-active {{/ifCond}}">
            <a href="muatragop-thutucquytrinh.html" class="accordion-title none">
                Thủ tục <br> quy trình</a>
        </li>

        <li class="accordion-item {{#ifCond active 'muatragop-dangky'}}is-active {{/ifCond}}">
            <a href="muatragop-dangky.html" class="accordion-title none">
                Đăng ký <br> mua trả góp</a>
            <div class="" data-tab-content>
            </div>
        </li>

        <li class="accordion-item {{#ifCond active 'muatragop-khuyenmai'}}is-active {{/ifCond}}">
            <a href="muatragop-khuyenmai.html" class="accordion-title none"><!--<div class="icon"><i class="ti-agenda"></i></div>--> Khuyến mãi <br> trả góp</a>
        </li>
    </ul>

</div>