<div class="des-accordion">

    <ul class="accordion">
        <li class="accordion-item {{#ifCond active 'muatragop-thutucquytrinh'}}is-active {{/ifCond}}">
            <a href="muatragop-thutucquytrinh.html" class="accordion-title down"><i class="ti-panel"></i>
                Thủ tục - quy trình</a>
        </li>

        <li class="accordion-item {{#ifCond active 'muatragop-dangky'}}is-active {{/ifCond}}">
            <a href="muatragop-dangky.html" class="accordion-title down"><i class="ti-image "></i>
                Đăng ký mua trả góp</a>
            <div class="" data-tab-content>
            </div>
        </li>

        <li class="accordion-item {{#ifCond active 'muatragop-khuyenmai'}}is-active {{/ifCond}}">
            <a href="muatragop-khuyenmai.html" class="accordion-title down"><i
                    class="ti-video-camera "></i> Khuyến mãi trả góp</a>
        </li>
    </ul>

</div>