<div class="flex-equal section-space santhuong-intro">

    <div class="item element">

        <a href="" class="item__link"></a>

        <div class="item__image">
            <img src="assets/img/product/santhuong-1.jpg" alt="">
        </div>

        <div class="item__name">
            Máy in phun HP
        </div>

    </div>

    <div class="item element">

        <a href="" class="item__link"></a>

        <div class="item__image">
            <img src="assets/img/product/santhuong-2.jpg" alt="">
        </div>

        <div class="item__name">
            Samsung galaxy
            S6 edge
        </div>
    </div>

    <div class="item element">

        <a href="" class="item__link"></a>

        <div class="item__image">
            <img src="assets/img/product/santhuong-3.jpg" alt="">
        </div>

        <div class="item__name">
            Loa JBL 51 W
        </div>
    </div>
</div>

