.scrolls-horizontal{
  display: flex;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: $white;
}

.item-horizontal{
  flex: 0 0 auto;
  align-items: stretch;
  border: 1px solid $color-border1;
  border-right: 0;
  border-bottom: 0;

  .item{
    max-width: 180px;

  }
}

.scrolls-horizontal .item-horizontal:last-child{
  border-right: 1px solid $color-border1;
}

.item{
  position: relative;
  padding: 15px 10px;
}
.item__link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.item__image{
  text-align: center;
  margin-bottom: 15px;
}
.item__name{
  min-height: 36px;
  line-height: 1.2rem;
  a{
    color: $secondary-color;
  }
}

.item__price{

  @include breakpoint(500px down){
    font-size: 14px;
  }

  @include breakpoint(320px down) {
    font-size: 13px;
  }
}
.item__price--new{
  color: red;
}

.item__price--old{
  padding-left: 5px;
  color: $medium-gray;
  text-decoration: line-through;
}

.item__list{
  margin: 0;
  list-style: none;
  color: $color-gray;
  span{
    color: $color-orange;
  }

  @include breakpoint(500px down){
    font-size: 13px;
  }

  @include breakpoint(320px down) {
    font-size: 12px;
  }
}

.product__image{
  height: 110px;
  text-align: center;
  margin: 1rem 0;
  img{
    height: 100%;
  }
}

.product__info{
  background: #fff;
  margin-bottom: 10px;
}
.product__price{
  margin-bottom: 5px;
}
.product__price--new{
  @include header-size(h3);
  color: $color-red;
  padding-right: 15px;
}
.product__price--old{
  @include header-size(h3);
  color: $color-gray;

  text-decoration: line-through;
}
.product__color{
  display: flex;
  margin-bottom: 10px;
  .color{
    width: 20px;
    height: 20px;
    display: block;
    background-clip: content-box;
    padding:1px;
    border: 1px solid $light-gray;
    margin: 0 2px;
    &.choose{
      border-color: $dark-gray;
    }
  }
}
.product__onlyvta{
  label{
    font-size: 1rem;
  }
}
.product__title{
  background: $color-border1;
  padding: 10px 10px;
  margin: 10px 0;
}
.product__sale{
  max-height: 150px;
  overflow: hidden;

  position: relative;


  &:after{
    position: absolute;
    height: 50px;
    width: 100%;
    content: "";
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    bottom: 0;

  }
}


/*LOAD MORE only CSS*/
[for="load_more"]{
  display: block;
  text-align: center;
  span:last-child{
    display: none;
  }
  padding: 5px 0;
}
#load_more{ border: 0; clip: rect(0 0 0 0);  height: 1px;    width: 1px;  margin: -1px;    overflow: hidden;    padding: 0;    position: absolute;}
#load_more:checked ~ .product__sale { max-height: inherit}
#load_more:checked ~ .product__sale:after { display: none}
#load_more:checked ~ [for="load_more"] span:first-child {display: none; visibility: hidden;}
#load_more:checked ~ [for="load_more"] span:last-child {visibility: visible;display:block}

/*end LOAD MORE only CSS*/


.product__button{
  padding: 10px 0;
  background: #fff;
  .button{
    padding: 0.4em 1em;
    margin-bottom:10px;
    span{
      margin-top: 5px;
      display: block;
      font-size: 85%;
    }
  }
}



.product__button--call{
  margin-bottom: 10px;
  @include header-size(h4);
  .time{
    color: $primary-color;
  }

  i{
    color: $color-red;
  }
}



.des-accordion{
  .accordion-title{
    @include header-size(h5);
    text-transform: uppercase;
    color: $secondary-color;

    i{
      min-width: 25px;
      display: inline-block;
    }
  }

  .accordion-title::before{
    content: "\e649";
    @extend .themify-font;
  }
  .accordion-title.down::before{
    content: '\e64b';
  }

  .accordion-title.none::before{
    display: none;
  }
  .is-active > .accordion-title::before{
    content: "\e64b";
  }
  .is-active{
    .accordion-title{
      background: lighten($light-gray,5%);
    }
  }
  &.inlineBlock{
    .accordion{
      display: flex;

      .accordion-item{
        flex: 1;
        border-right:1px solid $color-border1;
        border-bottom: 1px solid $color-border1;

      }
      .is-active{
        .accordion-title{
          background: $light-gray   ;
          color: $secondary-color;
        }
      }
      .accordion-title{
        padding: 1.25rem 0.5rem;
        text-align: center;
        text-transform: inherit;
        border: none;
        border-radius: 0;
      }
      .icon{
        padding-bottom: 5px;
        font-size: 1.2rem;
      }
    }
  }
}



.product__techSpec{
  text-align: left;
  tbody{
    border:none;
    border-top: 1px solid $light-gray;
    border-left: 1px solid $color-border1;
  }
  width: 100%;
  tr{
    border-bottom: 1px solid $light-gray;
  }
  th{
    width: 26.25%;
    background: $color-border1;
    font-weight: normal;
  }
  tbody tr:nth-child(even){
    background: #fff;
  }
}


.productCombo{

}
.productCombo__title{
  background: $color-orange;
  padding: 7px 10px;
  color: white;
}
.productCombo__name{
  margin-bottom: 0;
}
.productCombo__price{

  @include header-size(h3);
  .tietkiem{
    font-size: rem-calc(14px);
  }
}

.productCombo__type{
  padding: 10px 10px 0;
  background: #f9f9f9;
}
.productCombo__list{
  padding: 0 10px 10px;
  background: #f9f9f9;
  ul{
    li{
      color: $color-gray;
    }
  }
}



/*LIST CATEGORY*/
.categoryList{
  display: flex;
  flex-wrap: wrap;
  background: $white;
  .item{
    flex: 0 0 50%;
    border: 1px solid $color-border1;
    margin: -1px -1px 0 0;
    &.feature{
      flex: 0 0 100%;


    }

    @include breakpoint(medium){
      flex: 0 0 25%;

      &.feature{
        flex: 0 0 50%;
      }
    }
    .item__price{
      margin-bottom: 5px;
    }

  }


}


/*Feature item*/
.item__feature{
  display: flex;
  align-items: center;
  .item__image{
    flex: 0 0 120px;
  }
  .item__name{
    min-height: inherit;
  }
}
.item__feature-info{
  padding: 0 10px;
}

.item__text--sale{
  height: 88px;
  overflow: hidden;
  font-size: 90%;
  color: $color-gray;
  position: relative;
  &:after{
    left: 0;
    position: absolute;
    height: 50px;
    width: 100%;
    content: "";
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    bottom: 0;

  }
}
/*End feature item*/


/*end LIST CATEGORY*/


/*FILTER*/

.itemFilter{
  position: relative;
  z-index: 5;
}


.itemFilter__menu{
  margin: 0;
  display: flex;
  list-style: none;
  text-align: center;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  background: $white;
  >li{
    cursor: pointer;
    flex: 1;
    border-right: 1px solid $light-gray;
    &:last-child{
      border-right: none;
    }

    display: block;
    padding: 10px 10px;
    width: 100%;
    color: $secondary-color;
    &.active{
      background: $color-border1;
    }
  }


}

.itemFilter__form{
  background:  $color-border2;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  border-bottom: 1px solid $light-gray;

}

.itemFilter__list{
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  >li{
      flex: 0 0 50%;
    a{
      color: $secondary-color;
      display: block;
      padding: 3px 0;
    }
    &.active{
      a{
        color: $primary-color;
      }
    }
  }
}
.itemFilter__checkbox{
  display: flex;
  padding: 10px;
  .title{
    color: $primary-color;
    font-weight: bold;
    @include header-size(h4);
  }
}
.itemFilter__checkbox--col{

  flex: 0 0 50%;
  ul{
    li{
      padding: 3px 0;
    }
  }
}

/*end FILTER*/
